Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Revert "Use direct message class"
  pixl_core/src/core/queue/subscriber.py
Due: coe

Remove generics
  pixl_core/src/core/queue/subscriber.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, pixl_imaging

Remove success for anon parsing
  pixl_core/src/core/queue/subscriber.py
Due: coe

Use correct timeout variable
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Try passing in a copy of environment to child process
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Try only release message from anonymisation queue after processing
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Raise exception rather than swallowing it
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

AnonymisationPixlConsumer changed to async so ack does not get sent back until process finished
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/_base.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Add retry anonymisation option to CLI
  cli/README.md
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_database_cli_interaction.py
  cli/tests/test_populate.py
Due: cli

Set renovate mode to 'full' so it overrides the default 'silent' mode
  .renovaterc.json5
Due: none

650 anonymisation reads from queue (#663)
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  cli/tests/test_populate.py
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/__init__.py
  pixl_core/src/core/queue/_base.py
  pixl_core/src/core/queue/models.py
  pixl_core/src/core/queue/producer.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_core/tests/queue/test_models.py
  pixl_core/tests/queue/test_producer.py
  pixl_core/tests/queue/test_subscriber.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: coe, cli, pixl_imaging

Update logic in 1 line
  cli/src/pixl_cli/_database.py
Due: cli

Fix cli unit tests
  cli/tests/test_database_cli_interaction.py
  cli/tests/test_populate.py
Due: cli

Set renovate mode to 'full' so it overrides the default 'silent' mode (#679)
  .renovaterc.json5
Due: none

Use pytest_asyncio for the orthanc_raw fixture
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

No need to rename orthanc_raw to orthanc as we no longer need to await it
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Work in progress
  docker-compose.yml
  pixl_core/src/core/project_config/secrets.py
  test/.env
  test/docker-compose.yml
Due: coe

Wait for all queues to empty before retrying population
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
  cli/tests/test_populate.py
Due: cli

Pass linting
  cli/tests/test_message_processing.py
Due: cli

Update logging and ack/nack for anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/subscriber.py
Due: coe

Revert "Renovate: dependency pyarrow to v23 [SECURITY] (#682)"
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Address PR review comments
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/main.py
Due: cli

Address PR review comments
  cli/src/pixl_cli/main.py
Due: cli

Reverse flipped logic in retry_anonymisation filter in database
  cli/src/pixl_cli/_database.py
Due: cli

Consistently nack on subcriber failure
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Make azure client secret a bit less branched
  .env.sample
  pixl_core/src/core/project_config/secrets.py
  test/.env
Due: coe

Set default rate=1
  cli/src/pixl_cli/main.py
  cli/tests/test_populate.py
Due: cli

CLI option to allow retrying of anonymisation (#680)
  cli/README.md
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_database_cli_interaction.py
  cli/tests/test_populate.py
Due: cli

Use separate keyvault for hasher api
  test/.env
  test/keyvault/import/keyvault.json.hbs
Due: none

Fix linting
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_populate.py
Due: cli

Remove .secrets.env usage
  .github/workflows/main.yml
  README.md
  docs/setup/azure-keyvault.md
  docs/setup/developer.md
  hasher/README.md
  test/.secrets.env.sample
  test/README.md
  test/docker-compose.yml
  test/run-system-test.sh
Due: none

Revert mistake in merging main into branch
  cli/src/pixl_cli/main.py
  cli/tests/test_populate.py
Due: cli

Move testing changes out of production docker compose
  docker-compose.yml
  test/README.md
  test/docker-compose-test.yml
  test/run-system-test.sh
Due: none

Update keyvault documentation
  docs/setup/azure-keyvault.md
Due: none

Ignore credentials in system tests
  pixl_core/src/core/project_config/secrets.py
Due: coe

Persist hasher api keyvault secrets
  test/docker-compose-test.yml
  test/docker-compose.yml
  test/keyvault/README.md
  test/keyvault/export-secrets.yaml
  test/keyvault/hasher-secrets.yaml
  test/keyvault/import/keyvault.json.hbs
  test/keyvault/secrets.yaml
Due: none

Pass linting
  test/keyvault/set_secrets.py
Due: none

Reduce number of arguments for queues
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
Due: cli

Remove envs in CI
  .github/workflows/main.yml
Due: none
