Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

adds more details on removing and deleting merged branches #422
  CONTRIBUTING.md
Due: none

add empty spaces to create new lines for steps in 9, 9.1, 9.2 #422
  CONTRIBUTING.md
Due: none

422 - Setting up pixl locally (#423)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  cli/README.md
  cli/tests/test_messages_from_files.py
  docs/setup/developer.md
Due: cli

Enforce whitelist early
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Import StudyInfo direct
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Split out parsing input and populating for easier testing
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
Due: cli

Set up passing test for development
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_io.py
  cli/tests/test_message_processing.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
Due: cli

Fix CLI argument for input path
  cli/src/pixl_cli/main.py
Due: cli

adds database_images #397
  cli/src/pixl_cli/_database.py
Due: cli

Remove MRI overrides for now
  projects/configs/ms-pinpoint.yaml
Due: none

Remove unused __init__
  pixl_dcmd/tests/__init__.py
Due: pixl_dcmd

fix linting issue
  cli/src/pixl_cli/_database.py
Due: cli

adds read messages from batch_input.cvs #397
  cli/tests/test_message_processing.py
Due: cli

Add LUT descriptor to MRI
  projects/configs/tag-operations/mri.yaml
Due: none

Batch remove messages for existing images
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
Due: cli

Update pixl_cli tests to use df of messages rather than lists of messages
  cli/tests/conftest.py
  cli/tests/test_database.py
  cli/tests/test_io.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
Due: cli

Use session.bulk_save_objects(images) to batch insert images
  cli/src/pixl_cli/_database.py
  cli/tests/conftest.py
Due: cli

Add private creator groups to manufacturer overrides
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
  projects/configs/tag-operations/manufacturer-overrides/mri.yaml
Due: none

Fix tests
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Keep MRI tags for pinpoint
  projects/configs/ms-pinpoint.yaml
Due: none

Fix filtering existing images and drop duplicate messages
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: cli

use different timestamps in test duplicate_input.csv
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: cli

Use more realistic test data in duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: none

remove backticks from duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: none

Use the same study_date for duplicate entires in duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: none

Batch checking of exported data (#430)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  cli/tests/test_database.py
  cli/tests/test_io.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: cli

Clarify use of bare except
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add test for VR OB
  pixl_core/src/core/dicom_tags.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: coe, pixl_dcmd

Update test to actually assert the correct thing
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Make test case realistic to what we find in production
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: pixl_dcmd

Use proper assert for nested sequence
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Update reference to test files
  docs/file_types/parquet_files.md
Due: none

Stef/allowlist before anonymise (#431)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/dicom_tags.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/__init__.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
  projects/configs/tag-operations/manufacturer-overrides/mri.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: coe, pixl_dcmd

Consolidate `RUN` commands
  docker/orthanc/Dockerfile
Due: none

Update reference to test files (#432)
  docs/file_types/parquet_files.md
Due: none

Pass linting
  pixl_core/src/core/patient_queue/_base.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_export/src/pixl_export/_databases.py
  pytest-pixl/src/pytest_pixl/helpers.py
Due: coe

Remove comment
  pixl_export/src/pixl_export/_databases.py
Due: none

Remove comment
  pytest-pixl/src/pytest_pixl/helpers.py
Due: none

Update dependencies (#464)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  cli/pyproject.toml
  docker-compose.yml
  docker/export-api/Dockerfile
  docker/hasher-api/Dockerfile
  docker/imaging-api/Dockerfile
  docker/orthanc-anon/Dockerfile
  docker/orthanc-raw/Dockerfile
  docker/postgres/Dockerfile
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_core/src/core/patient_queue/_base.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_export/src/pixl_export/_databases.py
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  pytest-pixl/src/pytest_pixl/helpers.py
Due: coe, cli, pixl_dcmd, pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
