Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

updating links
  docs/developer/ftp-server.md
  docs/developer/parquet_files.md
  docs/developer/setup/azure-keyvault.md
  pixl_core/src/core/uploader/README.md
Due: coe

updating links
  index.md
Due: none

adding read mes
  docs/archive/PIXLv1/Referenced_notes/README.md
  docs/archive/PIXLv1/diagrams/README.md
  docs/archive/PIXLv1/readme.md
  docs/archive/README.md
Due: none

adding read mes
  docs/README.md
  docs/archive/PIXLv1/images/PIXL-Components.drawio.png
  docs/archive/PIXLv1/images/PIXL-De-identification_Data_Flow.drawio.png
  docs/archive/PIXLv1/images/PIXL-FlowEHR_DICOM_service.drawio
  docs/archive/PIXLv1/images/PIXL-FlowEHR_DICOM_service.drawio.png
  docs/archive/PIXLv1/images/PIXL-System_Context.drawio.png
  docs/archive/PIXLv1/images/PIXL.drawio
  docs/archive/PIXLv1/images/README.md
  docs/design/README.md
  docs/design/details/README.md
  docs/design/images/README.md
  docs/developer/README.md
  docs/developer/setup/README.md
Due: none

Remove use of profiles with docker compose
  .env.sample
  cli/README.md
  cli/src/pixl_cli/_docker_commands.py
  docker-compose.yml
  test/.env
  test/docker-compose.yml
  test/run-system-test.sh
Due: cli

Remove use of profiles with docker compose (#598)
  .env.sample
  cli/README.md
  cli/src/pixl_cli/_docker_commands.py
  docker-compose.yml
  test/.env
  test/docker-compose.yml
  test/run-system-test.sh
Due: cli

Change pixl schema so that it makes sense on multi-schema db
  cli/tests/conftest.py
  pixl_core/src/core/db/models.py
  pixl_core/tests/conftest.py
  pixl_dcmd/tests/conftest.py
  pixl_imaging/alembic/versions/83dcb3812628_add_study_uid_column_to_image_table.py
  pixl_imaging/alembic/versions/bcaef54e2bfe_create_extract_and_image_tables.py
  pixl_imaging/alembic/versions/cb5ee12a6e20_replace_hashed_id_with_pseudo_study_uid.py
  pixl_imaging/alembic/versions/d947cc715eb1_add_pseudo_patient_id_column_to_image_table.py
  postgres/pixl-db_init.sh
Due: coe, cli, pixl_dcmd, pixl_imaging

Add config for longitudinal prostate
  projects/configs/longitudinal-dynamics-of-mri-targeted-prostate-cancer.yaml
Due: none

Update CLI to enable it to be installed in non-editable mode
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  docker-compose.yml
  pytest-pixl/src/pytest_pixl/ftpserver.py
Due: cli

Add docs on installing PIXL in non-editable mode
  cli/README.md
  docs/setup/developer.md
Due: cli

Update system tests to run with PIXL installed in non-editable mode
  test/.env
Due: none

Run systems tests with PIXL installed in non-editable mode in CI
  .github/workflows/main.yml
Due: none

Fix example path to project export folder in CLI readme
  cli/README.md
Due: cli

Make linters happy
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  pytest-pixl/src/pytest_pixl/ftpserver.py
Due: cli

Fix path to ssl dir in pytest-pixl
  pytest-pixl/src/pytest_pixl/ftpserver.py
Due: none

Exclude type checking blocks from coverage
  pyproject.toml
Due: none

Apply suggestions from code review
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-raw/README.md
Due: none

Change pixl schema so that it makes sense on multi-schema db (#600)
  cli/tests/conftest.py
  pixl_core/src/core/db/models.py
  pixl_core/tests/conftest.py
  pixl_dcmd/tests/conftest.py
  pixl_imaging/alembic/versions/83dcb3812628_add_study_uid_column_to_image_table.py
  pixl_imaging/alembic/versions/bcaef54e2bfe_create_extract_and_image_tables.py
  pixl_imaging/alembic/versions/cb5ee12a6e20_replace_hashed_id_with_pseudo_study_uid.py
  pixl_imaging/alembic/versions/d947cc715eb1_add_pseudo_patient_id_column_to_image_table.py
  postgres/pixl-db_init.sh
Due: coe, cli, pixl_dcmd, pixl_imaging

Add system tests for querying at the series level
  test/conftest.py
  test/resources/series-level-querying/all-series.csv
  test/resources/series-level-querying/single-series.csv
  test/system_test.py
Due: none

Add 'series_uid' attribute to Message
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/patient_queue/message.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_whitespace_and_na_processing.csv
Due: coe, cli

Handle querying by series in Orthanc Anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add abaility to query by series UID
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Allow PIXL CLI to be installed in non-editable mode (#601)
  .github/workflows/main.yml
  cli/README.md
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  docker-compose.yml
  docs/setup/developer.md
  pyproject.toml
  pytest-pixl/src/pytest_pixl/ftpserver.py
  test/.env
Due: cli

Add series_uid in Message in pixl_core tests
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
Due: coe

Get remote query instances by recreating the query at the Instance level
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

To get list of instances in remote modality, first query all series in the study
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add comment explaining why we need to iterate over series and then instances
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Get remote query instances by recreating the query at the Instance level (#605)
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Make series_uid optional for input CSV files
  cli/src/pixl_cli/_io.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: cli

Make series_uid optional for input CSV files
  cli/src/pixl_cli/_io.py
Due: cli

Use single backslash between series_uids in input csv files
  test/resources/series-level-querying/all-series.csv
Due: none

no instances are missing from orthanc raw if number of instances matches remote and query level is Study
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Log if there are no missing instances for study in Orthanc Raw
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add support for querying DICOM archives at the Series level (#603)
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/patient_queue/message.py
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_whitespace_and_na_processing.csv
  test/conftest.py
  test/resources/series-level-querying/all-series.csv
  test/resources/series-level-querying/single-series.csv
  test/system_test.py
Due: coe, cli, pixl_imaging

Try forcing FTPS to use tls 1.2
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Add sftp server for tests
  pixl_core/pyproject.toml
  pixl_core/tests/uploader/test_sftp.py
Due: coe

Update pre-commit deps
  .pre-commit-config.yaml
Due: none

Implement `SFTPUploader`
  pixl_core/src/core/uploader/_sftp.py
Due: coe

Set up host keys for test
  pixl_core/tests/uploader/test_sftp.py
Due: coe

refactor: Move `SFTPServer` to separate helper module
  pixl_core/tests/uploader/helpers/sftpserver.py
  pixl_core/tests/uploader/test_sftp.py
Due: coe

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
