Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Add @dram1964's instructions for setting up a PIXL user on GAE
  docs/setup/uclh-infrastructure-setup.md
Due: none

Add study uid to columns declaration
  cli/src/pixl_cli/_io.py
Due: cli

Query VNA with UID, fall back to MRN + accession number if not found
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Query PIXL DB with study UID
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Add study UID as part of the message info
  cli/src/pixl_cli/_message_processing.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

Add study UID to test data
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Refactor `anonymise_dicom`; move database updating out of `_anonymise_dicom_from_scheme()`
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Deal with ruff and mypy warnings
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Test that VNA querying falls back to MRN + acc number if UID not found
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Rename `row_for_dicom_testing` and be more explicit where its values come from
  pixl_dcmd/tests/conftest.py
Due: pixl_dcmd

Update tests with new fixtures
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Be more explicit about where study info values are coming from
  pixl_dcmd/tests/conftest.py
Due: pixl_dcmd

Add study UID to PIXL DB Image model
  pixl_core/src/core/db/models.py
Due: coe

Add study UIDs in `pixl_dcmd` test fixtures
  pixl_dcmd/tests/conftest.py
Due: pixl_dcmd

Fix tests
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Run alembic migration
  pixl_imaging/alembic/versions/83dcb3812628_add_study_uid_column_to_image_table.py
Due: pixl_imaging

Also filter out entries where accession number is empty string
  cli/src/pixl_cli/_io.py
Due: cli

Add study UID column to test files
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/private/PROCEDURE_OCCURRENCE_LINKS.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
  test/resources/omop/private/PROCEDURE_OCCURRENCE_LINKS.parquet
Due: none

Also add study UID when uploading images to PIXL DB
  cli/src/pixl_cli/_database.py
Due: cli

Add study UIDs in cli test data
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
Due: cli

Refactor core tests: add `mock_message` fixture and add study UID
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_core/tests/patient_queue/test_producer.py
  pixl_core/tests/patient_queue/test_subscriber.py
Due: coe

Need `study_uid` here as well
  pixl_core/tests/conftest.py
Due: coe

This test file also needs a study UID column
  test/resources/omop-dicomweb/private/PROCEDURE_OCCURRENCE_LINKS.parquet
Due: none

Fall back to MRN + accession number when querying PIXL DB
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Fix the study UID for the system test studies to match what is in the extracts
  test/conftest.py
Due: none

Add test for `get_unexported_image` fallback
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

Fix fallback with try-except
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Test querying an existing pseudo study UID
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

Fix docstrings
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Make `study_uid` column nullable
  pixl_imaging/alembic/versions/83dcb3812628_add_study_uid_column_to_image_table.py
Due: pixl_imaging

Make `study_uid` optional in PIXL DB
  pixl_core/src/core/db/models.py
Due: coe

Use imaging UID from OMOP-ES extract (#469)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/db/models.py
  pixl_core/src/core/patient_queue/message.py
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_core/tests/patient_queue/test_producer.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
  pixl_imaging/alembic/versions/83dcb3812628_add_study_uid_column_to_image_table.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/private/PROCEDURE_OCCURRENCE_LINKS.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
  test/conftest.py
  test/resources/omop-dicomweb/private/PROCEDURE_OCCURRENCE_LINKS.parquet
  test/resources/omop/private/PROCEDURE_OCCURRENCE_LINKS.parquet
Due: coe, cli, pixl_dcmd, pixl_imaging

Bump versions to 0.1.0
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Pin `0.1.0` versions for PIXL modules
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_export/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli

Add missing dependencies
  pixl_dcmd/pyproject.toml
  pixl_imaging/pyproject.toml
Due: pixl_dcmd, pixl_imaging

Release 0.1.0 (#474)
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Bump module versions
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Update PIXL dependency pinned versions
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Update filter_exported_or_add_to_db to handle multiple projects
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
Due: cli

Add test for multiple projects in a csv file
  cli/tests/test_database.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
Due: cli

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
