Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Decrease the amount of time for processing in system test
  .env.sample
  docker/orthanc-raw/Dockerfile
  test/.env
Due: none

Add raw stable seconds to docker compose
  docker-compose.yml
Due: none

Document environmental variable usage
  .env.sample
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-raw/README.md
  pixl_core/README.md
  test/.env
Due: coe

Try updating timeout
  test/conftest.py
Due: none

Dont retry publishing on ftps upload
  test/conftest.py
Due: none

Remove failing tests and add todo to re-add them
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Increase timeout for `pixl_imaging` tests docker to 5 min
  pixl_imaging/tests/conftest.py
Due: pixl_imaging

Validate anonymised Dicom tags (#414)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/bin/run-tests.sh
  pixl_dcmd/pyproject.toml
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  pixl_imaging/tests/conftest.py
  pytest-pixl/pyproject.toml
Due: pixl_dcmd, pixl_imaging

Invoke check_env with '--error' and path to sample env file
  cli/tests/test_check_env.py
Due: cli

Update user installation instructions
  README.md
Due: none

Update developer setup instructions
  docs/setup/developer.md
Due: none

Update installation instructions for all Python modules
  cli/README.md
  hasher/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pytest-pixl/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Remove outdated docs on cli commands
  cli/README.md
Due: cli

clarify testing setup in top-level README
  README.md
Due: none

Move developer docs from top-level README to docs/setup/developer.md
  README.md
  docs/setup/developer.md
Due: none

Dont retry publishing on dicomweb upload
  test/conftest.py
Due: none

Say why we're deleting studies without project name
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

fix installation typo in README
  pixl_core/README.md
Due: coe

Correct installation instructions in README
  README.md
Due: none

Add mocked test for retrying publishing
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_database.py
  cli/tests/test_message_processing.py
Due: cli

Process large studies and prod fixes (#416)
  .env.sample
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_database.py
  cli/tests/test_message_processing.py
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-anon/config/orthanc.json
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/orthanc.json
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/README.md
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  projects/configs/ms-pinpoint.yaml
  test/.env
  test/conftest.py
Due: coe, cli, pixl_dcmd, pixl_imaging

load variables from test/.env file for cli/test/test_check_env
  cli/tests/conftest.py
Due: cli

Update README.md
  README.md
Due: none

Improve setup docs (#421)
  README.md
  cli/README.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pytest-pixl/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Fix tests for `pixl check_env` (#419)
  cli/tests/conftest.py
  cli/tests/test_check_env.py
Due: cli

few changes on setting up pixl #422, including: * missing packages paths for pip install, * clone repo details, * re-arrenging dev section in cli/README * adds details to run pre-commit
  README.md
  cli/README.md
  cli/virtual-environment.md
Due: cli

adds github templates for issues (bugs, feature requests and not working), and PR template with a list of bits to complete before sending PR review #422
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/not_working.md
  .github/pull_request_template.md
Due: none

adds versions for Docker Compose in README and details to run, leading to passed `pytest -vs tests/test_docker_commands.py` in OS/Arch: linux/amd64 #422
  cli/README.md
Due: cli

migrate md to yml issues templates and removes not_working as dublicates bug #422
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/not_working.md
Due: none

removes conda commands in favour of being more generalistic using `activte you python virtual environment` #422
  cli/README.md
Due: cli

re-organising location of python virtual envs to `docs/setup/dev...` with links updates #422
  cli/README.md
  cli/virtual-environment.md
  docs/setup/developer.md
Due: cli

few minor changes to devs instructions #422
  cli/README.md
  docs/setup/developer.md
Due: cli

fix AttributeError: module `datetime` has no attribute `UTC` to pass tests/test_message_processing.py #422
  cli/tests/conftest.py
Due: cli

changes to .github/pull_request_template.md, adding CODE_OF_CONDUCT #422 and CONTRIBUTING.md #425
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

adds details on correct comman to run tests, adds quotes in dev pip installation options for `zhs`, adds a more generic instructions to setup venv, and clarity on the use of conda deactivate #422
  cli/README.md
  docs/setup/developer.md
Due: cli

adds more clarity on the PR template #422 and move local tests to contribution guilelines #425
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

adding and recommeding `Squashing and merging a long-running branch` ref and proving the option of rebase if need it (which is something I find it usuefull in many of other projects) #422
  CONTRIBUTING.md
Due: none

adds step 6 in PR workflow instead of leaving at the end of the contribution guideline, correction of github organistaion and reponame #422
  CONTRIBUTING.md
Due: none

adds the accidental removed `pytnon -m` in one my previous rebases worflows, adds meaning of VE #422
  cli/README.md
  docs/setup/developer.md
Due: cli

adds explicit details with examples for github workflow pipeline and other minor and related changes #422
  CONTRIBUTING.md
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
