Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

typo
  test/README.md
Due: none

making read me and table of contents consistent
  README.md
  bin/README.md
  bin/linters/README.md
  cli/README.md
  cli/src/README.md
  cli/src/pixl_cli/README.md
  cli/tests/README.md
  cli/tests/toc.md
  cli/toc.md
  docker/README.md
  docker/export-api/README.md
  docker/hasher-api/README.md
  docker/imaging-api/README.md
  docker/orthanc-anon/README.md
  docker/orthanc-raw/README.md
  docker/postgres/README.md
  toc.md
Due: cli

making readme and table of contents consistent
  docs/README.md
  docs/design/README.md
  docs/design/diagrams/README.md
  docs/file_types/README.md
  docs/joss-publication/README.md
  docs/joss-publication/figures/README.md
  docs/services/README.md
  docs/setup/README.md
  hasher/README.md
  hasher/src/README.md
  hasher/src/hasher/README.md
  hasher/tests/README.md
  hasher/toc.md
  orthanc/README.md
  orthanc/assets/README.md
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-anon/config/README.md
  orthanc/orthanc-anon/docs/README.md
  orthanc/orthanc-anon/docs/assets/README.md
  orthanc/orthanc-anon/plugin/README.md
  orthanc/orthanc-anon/toc.md
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/README.md
  orthanc/orthanc-raw/plugin/README.md
  orthanc/orthanc-raw/toc.md
  orthanc/toc.md
Due: none

making readme and table of contents consistent
  pixl_core/README.md
  pixl_core/src/README.md
  pixl_core/src/core/README.md
  pixl_core/src/core/db/README.md
  pixl_core/src/core/patient_queue/README.md
  pixl_core/src/core/project_config/README.md
  pixl_core/src/core/rest_api/README.md
  pixl_core/src/core/token_buffer/README.md
  pixl_core/src/core/uploader/README.md
  pixl_core/tests/README.md
  pixl_core/tests/data/README.md
  pixl_core/tests/patient_queue/README.md
  pixl_core/tests/project_config/README.md
  pixl_core/tests/token_buffer/README.md
  pixl_core/tests/uploader/README.md
  pixl_core/toc.md
Due: coe

Add configuration for ION Neuro DB project
  projects/configs/ion-neuro-db.yaml
  projects/configs/tag-operations/ion-neuro-db.yaml
Due: none

Use correct export modalities
  projects/configs/ion-neuro-db.yaml
Due: none

Update year on file
  projects/configs/ion-neuro-db.yaml
Due: none

Remove private tag used for pixl project name
  orthanc/orthanc-anon/config/orthanc.json
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/config/orthanc.json
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/dicom_tags.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/src/core/uploader/base.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
Due: coe, pixl_dcmd, pixl_imaging

Update tests to reflect project name tag has been removed
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_xnat.py
  pixl_dcmd/README.md
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  pixl_export/src/pixl_export/main.py
Due: coe, pixl_dcmd

Update export api to take project name in payload
  pixl_export/src/pixl_export/main.py
Due: none

Update system tests to reflect we've removed the project name tag
  test/system_test.py
Due: none

Remove unused function
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Temporarily allow for PACS querying during the day
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

deleting this as it becomes the default
  .github/README.md
Due: none

a public repo cannot access a private repo
  README.md
Due: none

Temporarily allow for PACS around the clock
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

highlight UCLH specific instructions
  README.md
Due: none

trying to highlight specific
  README.md
Due: none

still trying to highlight UCLH specific information
  README.md
Due: none

make the read me not specific to UCLH
  README.md
Due: none

I don't think this is relevant
  README.md
Due: none

testing a theory ifthe syntax works
  README.md
Due: none

Tweak logging for anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Tweak logging for anonymisation (#528)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add timeout for dicomweb setup
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Remove unused env varible
  .env.sample
  orthanc/orthanc-anon/README.md
  test/.env
Due: none

Explicitly set dicom spec edition in pixl_dcmd
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Update renovate config to monitor dicom spec edition
  .renovaterc.json5
Due: none

Rename original_study_info to identifiable_study_info
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

remove UCLH Project Name tag from tag configs
  orthanc/orthanc-raw/config/orthanc.json
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

Remove Private Creator Data Element tag
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

Fix formatting of orthanc.json for orthanc-raw
  orthanc/orthanc-raw/config/orthanc.json
Due: none

specify version format when extracting latest edition of dicom spec
  .renovaterc.json5
Due: none

make files a neat list
  README.md
Due: none

make the headers bold
  README.md
Due: none

update main read me
  README.md
Due: none

Remove private DICOM tag for PIXL project name (#527)
  .renovaterc.json5
  orthanc/orthanc-anon/config/orthanc.json
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/config/orthanc.json
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/dicom_tags.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_xnat.py
  pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  test/system_test.py
Due: coe, pixl_dcmd, pixl_imaging

Check the instance count for local studies before getting SOPInstanceUIDs
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
