Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Set StorageCommitment to True for the c-store operation from raw to anon
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

Move triggering c-store operation out of orthanc raw plugin and into pixl_imaging._processing
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Recover from partial DICOM transfers from archives to Orthanc Raw (#497)
  .env.sample
  cli/README.md
  docker-compose.yml
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/orthanc.json
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/README.md
  pixl_core/src/core/patient_queue/message.py
  pixl_export/tests/conftest.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
  test/README.md
Due: coe, cli, pixl_imaging

use 'primary' and 'secondary' keys for the token bucket
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/src/core/token_buffer/tokens.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_core/tests/token_buffer/test_tokens.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: coe, pixl_imaging

Add a secondary imaging queue for querying pacs
  pixl_core/src/core/exceptions.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, pixl_imaging

IF a study is not found in the primary archive, rase a PixlStudyNotInPrimaryArchiveError error
  pixl_core/src/core/exceptions.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: coe, pixl_imaging

Use DICOM timeout for getting answer instances
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add key to call to TokenBucket.has_token in tests
  pixl_export/tests/test_app.py
Due: none

Allow storage commitment on anon
  orthanc/orthanc-raw/config/dicom.json
Due: none

Don't require storage commitment for anon routing
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Revert "Allow storage commitment on anon"
  orthanc/orthanc-raw/config/dicom.json
Due: none

Use DICOM timeout for getting answer instances (#504)
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add instructions on using uv instead of miniconda
  cli/pyproject.toml
  docs/setup/developer.md
  docs/setup/uclh-infrastructure-setup.md
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  pytest.ini
Due: coe, cli, pixl_dcmd, pixl_imaging

Add config for project to demo pixl e2e, sending data to xnat
  projects/configs/pixl-e2e-demo.yaml
Due: none

Update imaging api docs to describe the processing performed by the two imaging api queues
  pixl_imaging/README.md
Due: pixl_imaging

rename imaging queues to imaging-primary and imaging-secondary
  cli/src/pixl_cli/main.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, cli, pixl_imaging

Rollback change for postgres that came in somewhere?
  docker-compose.yml
Due: none

Set xnat env vars for the export-api container
  docker-compose.yml
Due: none

Don't set subject or experiment when uploading data to xnat
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Update demo project config to support only MR modality and remove mri-diffusion manufacturer overrides
  projects/configs/pixl-e2e-demo.yaml
Due: none

Also wait for imaging-secondary queue to empty if we're populating imaging-primary
  cli/src/pixl_cli/_message_processing.py
Due: cli

Use info level logging when rejecting message from imaging-primary becuase the study is not in the VNA
  pixl_core/src/core/patient_queue/subscriber.py
Due: coe

Also log the archive we're querying when processing a message
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Fix mapping of queue names to api names in cli._config
  cli/src/pixl_cli/_config.py
Due: cli

Add test for invalid token key
  pixl_core/src/core/token_buffer/tokens.py
  pixl_core/tests/token_buffer/test_tokens.py
Due: coe

Set subject and experiment when uploading data to xnat form orthanc anon
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Add config for prostate MRI (#505)
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
  projects/configs/uclh-prostate-mri-external-dataset.yaml
Due: none

Make queues_to_count a set rather than a list
  cli/src/pixl_cli/_message_processing.py
Due: cli

rename 'imaging' queue to 'imaging-primary'
  cli/src/pixl_cli/_message_processing.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  pixl_imaging/src/pixl_imaging/main.py
Due: cli, pixl_imaging

Add a separate queue for querying PACS (#503)
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/exceptions.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/src/core/token_buffer/tokens.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_core/tests/token_buffer/test_tokens.py
  pixl_export/tests/test_app.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: coe, cli, pixl_imaging

move toward handling transfers to anon within the anon plugin
  .env.sample
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  test/.env
Due: pixl_imaging

Merge remote-tracking branch 'origin/main' into jeremy/docker-uid-new
  test/conftest.py
Due: none

Check secondary hours before logging processing
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

start adding functionality to import study from raw to anon
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Check secondary hours before logging processing (#510)
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

pull study from orthanc raw based on study uid
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Query orthanc raw for study in orthanc anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

get the instance bytes
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

retrieve instances based on study resource id
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

anonymise instances and notify the export api
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
