Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

uv.lock file is supposed to be checked into source control (see https://docs.astral.sh/uv/guides/projects/#uvlock ) and the setup-uv GHA doesn't work without it.
  uv.lock
Due: none

Need to run inside the venv
  .github/workflows/main.yml
Due: none

Add setuptools for the sake of pydicom
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Temporarily query from PACS 24/7
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add data export decision
  docs/design/decision-record/0006-data-export.md
  docs/design/decision-record/index.md
Due: none

Start documenting design choices (#574)
  docs/design/decision-record/0001-multiservice-architecture.md
  docs/design/decision-record/0002-message-processing.md
  docs/design/decision-record/0003-dicom-processing.md
  docs/design/decision-record/0004-multiple-project-configuration.md
  docs/design/decision-record/0005-project-based-study-routing.md
  docs/design/decision-record/0006-data-export.md
  docs/design/decision-record/index.md
  docs/design/decision-record/template.md
  index.md
Due: none

update main read me (#529)
  README.md
Due: none

made read mes consistent
  bin/README.md
  bin/linters/README.md
Due: none

Made the read mes more consistent
  cli/src/README.md
  cli/src/pixl_cli/README.md
  cli/tests/README.md
Due: cli

Strip whitespace and remove empty identifiers
  cli/src/pixl_cli/_io.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_whitespace_and_na_processing.csv
Due: cli

made read mes more consistent
  cli/README.md
  docker/README.md
  docker/export-api/README.md
  docker/hasher-api/README.md
  docker/imaging-api/README.md
  docker/orthanc-anon/README.md
  docker/orthanc-raw/README.md
  docker/postgres/README.md
  hasher/README.md
  hasher/src/README.md
  hasher/src/hasher/README.md
  hasher/tests/README.md
Due: cli

Add setuptools for pydicom tests
  pixl_dcmd/pyproject.toml
Due: pixl_dcmd

Make it clear when study already exported
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

Temporarily don't validate dicom
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Merge on uid as well
  cli/src/pixl_cli/_database.py
Due: cli

Document slightly unusual test setup choices
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

Log study info in anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Make dicom helpers public
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add series_number_filters and allowed_manufacturers parameters to pixl project config
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/src/pixl_dcmd/main.py
  projects/configs/despiad.yaml
Due: coe, pixl_dcmd

Log study info in anonymisation (#587)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

making readmes consistent
  orthanc/README.md
  orthanc/assets/README.md
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-anon/config/README.md
  orthanc/orthanc-anon/docs/README.md
  orthanc/orthanc-anon/docs/assets/README.md
  orthanc/orthanc-anon/plugin/README.md
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/README.md
  orthanc/orthanc-raw/plugin/README.md
  pixl_core/src/README.md
  pixl_core/src/core/README.md
  pixl_core/src/core/db/README.md
  pixl_core/src/core/patient_queue/README.md
  pixl_core/src/core/project_config/README.md
  pixl_core/src/core/rest_api/README.md
  pixl_core/src/core/token_buffer/README.md
  pixl_core/src/core/uploader/README.md
  pixl_core/tests/README.md
  pixl_core/tests/data/README.md
  pixl_core/tests/patient_queue/README.md
  pixl_core/tests/project_config/README.md
  pixl_core/tests/token_buffer/README.md
  pixl_core/tests/uploader/README.md
Due: coe

making readmes consistent
  pixl_dcmd/src/README.md
  pixl_dcmd/src/pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/resources/README.md
  pixl_dcmd/tests/README.md
Due: pixl_dcmd

making readmes consistent
  pixl_export/src/README.md
  pixl_export/src/pixl_export/README.md
  pixl_export/tests/README.md
Due: none

clarify docstring of _import_study_from_raw
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add min_instances_per_series parameter to project config
  README.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  projects/configs/despiad.yaml
Due: coe

making readmes consistent
  pixl_core/README.md
Due: coe

Keep tags related to multi-frame DICOM
  projects/configs/tag-operations/rt-dose.yaml
Due: none

Add mappings for RTDOSE, RTSTRUCT, and RTPLAN to MODALITY_TO_CLASS_UID dictionary
  pytest-pixl/src/pytest_pixl/dicom.py
Due: none

remove ct.yaml tag operation file
  projects/configs/tag-operations/ct.yaml
Due: none

remove duplicated tags from rt tag operation files
  projects/configs/tag-operations/rt-dose.yaml
  projects/configs/tag-operations/rt-plan.yaml
  projects/configs/tag-operations/rt-struct.yaml
Due: none

remove ct.yaml from test rt project config
  projects/configs/test-radiotherapy.yaml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
