Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Add function to get statistics for local study in orthanc
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Reduce number of lines in anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Reduce number of lines in anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Reduce number of lines in anonymisation
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

remove patient id from spectroscopy anonymisation config
  projects/configs/tag-operations/mr-spectroscopy.yaml
Due: none

Count and log skipped instance reason
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Log validation errors at study level
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Log project and study in success of anonymisation
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Move config Acquisition DateTime, Content Date, and Content Time to mri.yaml
  projects/configs/tag-operations/mr-spectroscopy.yaml
  projects/configs/tag-operations/mri.yaml
Due: none

Anonymise all studies and upload before export-api
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Disable use of secondary pacs temporarily
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

511 - anonymisation for spectroscopy data (#513)
  pixl_dcmd/pyproject.toml
  projects/configs/tag-operations/mr-spectroscopy.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/test-mr-spectroscopy.yaml
Due: pixl_dcmd

Fix timeout issues when querying instances of a local study in Orthanc (#532)
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Use ActionsMapNameFunctions when getting the tag functions
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Create prognosis-ai config
  projects/configs/prognosis-ai.yaml
Due: none

Only keep acquisition date
  projects/configs/tag-operations/ion-neuro-db.yaml
Due: none

Group all non-major updates into a single PR
  .renovaterc.json5
Due: none

Update dependencies (#570)
  .github/workflows/main.yml
  cli/pyproject.toml
  docker-compose.yml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Group all non-major updates into a single PR (#569)
  .renovaterc.json5
Due: none

Add initial anonymisation config for ct
  projects/configs/tag-operations/ct.yaml
Due: none

Add initial anonymisation config for pet
  projects/configs/tag-operations/pet.yaml
Due: none

Add config for despiad
  projects/configs/despiad.yaml
Due: none

anonymnise all resources before notifying the export api
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Renames file to prevent pytest conflict
  cli/tests/test_database_cli_interaction.py
Due: cli

remove despaid.yaml from project config
  projects/configs/despiad.yaml
Due: none

Start documenting design choices
  docs/design/decision-record/0001-multiservice-architecture.md
  docs/design/decision-record/0002-message-processing.md
  docs/design/decision-record/0003-dicom-processing.md
  docs/design/decision-record/0004-multiple-project-configuration.md
  docs/design/decision-record/0005-project-based-study-routing.md
  docs/design/decision-record/index.md
  docs/design/decision-record/template.md
Due: none

Be explicit about secrets for multiple projects
  docs/design/decision-record/0004-multiple-project-configuration.md
Due: none

Add design choices index
  index.md
Due: none

Add configuration for IoN Neuro DB project - prognosis ai (#525)
  projects/configs/prognosis-ai.yaml
  projects/configs/tag-operations/ion-neuro-db.yaml
Due: none

Renames file to prevent pytest conflict (#573)
  cli/tests/test_database_cli_interaction.py
Due: cli

Remind developers that being in the virtual env with everything installed is a pre-requisite for running the system test script.
  test/README.md
Due: none

generate label based on patient id and study count in xnat project
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Use pseudo-anonymised StudyInstanceUID for xnat experiment label
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Fix XNAT destination
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Ensure we're testing the correct modalities in the dcmd tests
  pixl_dcmd/tests/test_main.py
  pytest-pixl/src/pytest_pixl/dicom.py
Due: pixl_dcmd

Revert "Disable use of secondary pacs temporarily"
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add project to logging of anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Improve logging of skipped instance counts
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Try and fix redirect stdout to debug
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Log the correct thing
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
