Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Count number of instances skipped due to series having too few instances
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

move get_series_to_skip to dcmd
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add philips and carestream as allowed manufacturers for test project
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: none

Update description of project config in readme
  README.md
Due: none

ruff fixes resulting from Python version change
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_imaging/tests/test_imaging_processing.py
  pytest-pixl/src/pytest_pixl/helpers.py
Due: coe, pixl_imaging

Consistently set all modules to require Python >=3.11
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_imaging

Assert matching modalities in project config
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Test appropriate error raised when DICOM not in project config
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Assert unspecified modality not in project config
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Moves test to more logical place within file
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Apply suggestions from code review
  docs/setup/developer.md
Due: none

Remove instructions for conda and venv
  docs/setup/developer.md
Due: none

Remove unnecessary line continuation characters
  docker/pixl-python/Dockerfile
Due: none

Remove references to conda and venv as per review feedback
  cli/README.md
  docs/setup/developer.md
  docs/setup/uclh-infrastructure-setup.md
Due: cli

Switch to `uv` python tool (#579)
  .dockerignore
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  cli/README.md
  cli/pyproject.toml
  docker/.dockerignore
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
  docs/setup/developer.md
  docs/setup/uclh-infrastructure-setup.md
  hasher/README.md
  hasher/pyproject.toml
  pixl_core/README.md
  pixl_core/pyproject.toml
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_dcmd/README.md
  pixl_dcmd/pyproject.toml
  pixl_export/README.md
  pixl_export/pyproject.toml
  pixl_imaging/README.md
  pixl_imaging/pyproject.toml
  pixl_imaging/scripts/migrate_and_run.sh
  pixl_imaging/tests/test_imaging_processing.py
  pyproject.toml
  pytest-pixl/README.md
  pytest-pixl/pyproject.toml
  pytest-pixl/src/pytest_pixl/helpers.py
  test/README.md
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Removes env_file: - already inherited from root docker-compose.yml
  test/docker-compose.yml
Due: none

Check _should_exclude_manufacurer before _should_exclude_series
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: coe, pixl_dcmd

filter out instance if manufacturer tag is missing
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

allow all manufacturers for existing projects
  pixl_dcmd/tests/test_main.py
  projects/configs/despiad.yaml
  projects/configs/ms-pinpoint.yaml
  projects/configs/prognosis-ai.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/uclh-prostate-mri-external-dataset.yaml
  template_config.yaml
Due: pixl_dcmd

Adds test to check modalities not specified in project config are dropped (#594)
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Moves POSTGRES_PIXL_DB_HOST var to more logical location
  test/.env
Due: none

Fixes port numbering so 7001 always used for Orthanc Raw
  test/.env
Due: none

Update .sample.env (so aligns with test/.env)
  .env.sample
Due: none

Update service name to more explicitly reflect external db
  test/docker-compose.yml
Due: none

Adds comment about postgres ports
  .env.sample
Due: none

Revert "Update service name to more explicitly reflect external db"
  test/docker-compose.yml
Due: none

Add tests for PixlConfig.is_manufacturer_allowed and PixlConfig.is_series_number_excluded
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/tests/project_config/test_project_config.py
Due: coe

Updates system-test conftest external PIXL DB port
  test/conftest.py
Due: none

Add more tests for _should_exclude_series
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/tests/test_main.py
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: coe, pixl_dcmd

removed text that went in by mistake
  cli/README.md
  cli/tests/README.md
  hasher/README.md
  orthanc/README.md
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-raw/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pixl_imaging/alembic/README.md
  postgres/README.md
  pytest-pixl/README.md
  test/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Adds missing env variable
  .env.sample
Due: none

Minor README tweak for clarity
  cli/README.md
Due: cli

Updates README with newly introduced env variables
  orthanc/orthanc-raw/README.md
Due: none

Add tests for test_should_exclude_manufacturer
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

delete files committed by mistake
  docs/README.md
  docs/design/README.md
  docs/design/diagrams/README.md
  docs/file_types/README.md
  docs/joss-publication/README.md
  docs/joss-publication/figures/README.md
  docs/services/README.md
  docs/setup/README.md
Due: none

Add tests for get_series_to_skip
  pixl_dcmd/tests/test_main.py
  pytest-pixl/src/pytest_pixl/data/dicom-study/study.zip
Due: pixl_dcmd

Don't allow all manufacturers in the template config
  template_config.yaml
Due: none

Set min_instances to 2 for despiad
  projects/configs/despiad.yaml
Due: none

Make pixl cli use POSTGRES_EXTERNAL_PORT if present in .env
  cli/src/pixl_cli/_config.py
  test/.env
Due: cli

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
