Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Remove redundant anon_queue refs
  cli/tests/test_message_processing.py
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/tests/conftest.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: coe, cli, pixl_imaging

Ensure pixl_core tests pass locally
  cli/src/pixl_cli/_message_processing.py
  pixl_core/src/core/queue/message.py
  pixl_core/src/core/queue/models.py
  pixl_core/tests/conftest.py
  pixl_core/tests/queue/__init__.py
  pixl_core/tests/queue/test_message.py
  pixl_core/tests/queue/test_models.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe, cli

Update tests that need Message replace w/ ImagingRequestMessage
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  cli/tests/test_populate.py
  pixl_imaging/tests/test_imaging_processing.py
Due: cli, pixl_imaging

Update tests that need Message replace w/ ImagingRequestMessage
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Update dcmd tests to be compatible with dicom-validator 0.9
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Update pixl_core/src/core/queue/subscriber.py
  pixl_core/src/core/queue/subscriber.py
Due: coe

Address PR review comments - reduce redundancy
  pixl_core/src/core/queue/_base.py
  pixl_core/src/core/queue/message.py
  pixl_core/src/core/queue/models.py
  pixl_core/src/core/queue/producer.py
  pixl_core/src/core/queue/subscriber.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, pixl_imaging

Rename tests
  pixl_core/tests/queue/test_message.py
  pixl_core/tests/queue/test_models.py
Due: coe

Fix unit tests
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Switch from debian bullseye to debian trixie for the pixl_python_base Docker image
  docker/pixl-python/Dockerfile
Due: none

Switch from debian bullseye to debian trixie for the pixl_python_base Docker image (#674)
  docker/pixl-python/Dockerfile
Due: none

Configure logging if otel is disabled
  cli/src/pixl_cli/main.py
Due: cli

Try to fix system test w import studies from raw message context
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Configure logging if otel is disabled (#677)
  cli/src/pixl_cli/main.py
Due: cli

Update uv.lock
  uv.lock
Due: none

Update test fixtures to work with pydicom 3
  pixl_dcmd/tests/test_tagrecording.py
  pytest-pixl/src/pytest_pixl/dicom.py
  test/conftest.py
Due: pixl_dcmd

Update pydicom, deid and dicom-anonymizer for pydicom 3
  pixl_dcmd/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: pixl_dcmd, pixl_imaging

Update pixl_dcmd.dicom_helpers for dicom-validator 0.9.0
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Update dicom-validator to 0.9.0 and update uv.lock
  docker/orthanc/Dockerfile
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Use EditionReader.get_edition_path and EditionReader.dicom_info_for_edition
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Update dicom-validator to 0.83
  docker/orthanc/Dockerfile
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Split dicom_validator.validate_anonymised into two functions
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Update dcmd tests for get_new_errors split
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Fix queue-declaration argument mismatch in cli
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  pixl_core/src/core/queue/subscriber.py
Due: coe, cli

Update uv.lock (#670)
  uv.lock
Due: none

Update `pydicom` to version 3 (#671)
  pixl_dcmd/pyproject.toml
  pixl_dcmd/tests/test_tagrecording.py
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  pytest-pixl/src/pytest_pixl/dicom.py
  test/conftest.py
  uv.lock
Due: pixl_dcmd, pixl_imaging

Update `dicom-validator` to 0.9 (#675)
  docker/orthanc/Dockerfile
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  pixl_dcmd/pyproject.toml
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/tests/test_dicom_validator.py
  uv.lock
Due: pixl_dcmd

Split the `diff_errors` logic from `DicomValidator.validate_anonymised` into a separate function (#676)
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Add retry to AnonymisationPixlConsumer
  docker-compose.yml
  pixl_core/src/core/queue/subscriber.py
Due: coe

Add copilot suggestions
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Remove redundant input for anon message type from async consumer
  pixl_core/src/core/queue/subscriber.py
Due: coe

Improve test coverage for subscriber covering error handling
  pixl_core/tests/conftest.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Add thrombosis AF project (#678)
  README.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  projects/configs/README.md
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/thrombosis-af.yaml
  projects/configs/uclh-investigating-correlations-of-thrombosis-risk-in-af.yaml
Due: pixl_dcmd

Simplify max-priority config args and give Anon subscriber max-priority
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  pixl_core/src/core/queue/subscriber.py
Due: coe, cli

Simplify max-priority config args and give Anon subscriber max-priority
  pixl_core/src/core/queue/_base.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Remove None as an option for parent context
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/subscriber.py
Due: coe

Replace Message with ImagingRequestMessage in docs
  pixl_imaging/README.md
Due: pixl_imaging

Try out process pool
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Use direct message class
  pixl_core/src/core/queue/subscriber.py
Due: coe

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
