Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Slight tidy up to test on GAE
  cli/src/pixl_cli/main.py
Due: cli

Wait for rabbitmq to be empty
  cli/src/pixl_cli/main.py
Due: cli

Add tqdm as CLI dependency
  cli/pyproject.toml
Due: cli

Use tqdm
  cli/src/pixl_cli/main.py
Due: cli

Rename method fo exported images
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/main.py
  cli/tests/test_database.py
Due: cli

Update counter to be 1-based index
  cli/src/pixl_cli/main.py
Due: cli

Dont use retries in CLI tests
  cli/tests/test_populate.py
Due: cli

Move message processing to its own module
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_populate.py
Due: cli

Exclude debug code from coverage report
  cli/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: cli, pixl_dcmd, pixl_imaging

Fix refactoring picking the wrong function name
  cli/tests/test_populate.py
Due: cli

Update mock to new location
  cli/tests/test_populate.py
Due: cli

Document correct prod tenant
  docs/setup/azure-keyvault.md
Due: none

Document correct prod tenant (#408)
  docs/setup/azure-keyvault.md
Due: none

Set `PIXL_ROOT` global variable for CLI
  cli/src/pixl_cli/main.py
Due: cli

Add `pixl up` command to launch Docker services
  cli/src/pixl_cli/main.py
Due: cli

Allow to specify `--env-file` for `docker compose`
  cli/src/pixl_cli/main.py
Due: cli

Use `subprocess.Popen()` instead of `os.execvp()`
  cli/src/pixl_cli/main.py
Due: cli

Use common `pixl-db` envvars for `orthanc-anon`
  docker-compose.yml
Due: none

Remove obsolete `cli._utils`
  cli/src/pixl_cli/_utils.py
Due: cli

Refactor
  cli/src/pixl_cli/_docker.py
  cli/src/pixl_cli/main.py
Due: cli

Implement `pixl down` to bring Docker services down
  cli/src/pixl_cli/main.py
Due: cli

Better filename
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Reorganise: move docker commands to `cli._docker_commands`
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/main.py
Due: cli

Allow shorthand project name option
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Allow multiple `--env-file` options
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Use `pixl` docker commands in system test
  test/run-system-test.sh
Due: none

Remove `pixldc`
  bin/pixldc
Due: none

Default must be a list if `multiple=True`
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Update docs
  README.md
  cli/README.md
Due: cli

Setup export for ms-pinpoint
  projects/configs/ms-pinpoint.yaml
Due: none

Log message processing when passed pending job filter
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: coe, pixl_imaging

Use UTC datetimes for csv input
  cli/src/pixl_cli/_io.py
  cli/tests/test_messages_from_parquet.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: cli

Use correct type for procedure
  cli/tests/test_messages_from_parquet.py
Due: cli

Update test name
  cli/tests/test_messages_from_files.py
Due: cli

Move type processing to after check for column names
  cli/src/pixl_cli/_io.py
Due: cli

Create separate MRI overrides file
  projects/configs/tag-operations/manufacturer-overrides/mri.yaml
Due: none

Use multiple manufacturer overrides
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/project_config/tag_operations.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/src/pixl_dcmd/_tag_schemes.py
  projects/configs/ms-pinpoint-internal-only.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/uclh-prostate-mri-validation-dataset.yaml
Due: coe, pixl_dcmd

Try adding orthanc to PIXL group
  docker/orthanc/Dockerfile
Due: none
