Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Set 'OverwriteInstance' to True for the pixl raw configs
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/tests/orthanc_raw_config/dicom.json
Due: pixl_imaging

Keep StudyInstanceUID, SeriesInstanceUID, and SOPInstanceUID tags when add a private tag to the study
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add test to check the StudyInstanceUID, SeriesInstanceUID, and SOPInstanceUID are correct in Orthanc Raw
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Set Permissive to False when adding the project name tag to a study in Orthanc Raw
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Don't autoroute from orthanc raw to orthanc anon
  .env.sample
  docker-compose.yml
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
Due: pixl_imaging

Dump all docker logs if system tests fail in CI
  .github/workflows/main.yml
Due: none

removes attribure word from one mri.yaml tag
  projects/configs/tag-operations/mri.yaml
Due: none

adds projects/configs/tag-operations/base.yaml with respective changes to ms-pinpoint.yaml; and tag-operations/mri.yaml #482
  projects/configs/ms-pinpoint.yaml
  projects/configs/tag-operations/mri.yaml
Due: none

removes commented lines
  pixl_dcmd/tests/conftest.py
Due: pixl_dcmd

move from confest.py::row_for_dicom_testing to
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/tests/conftest.py
Due: coe, pixl_dcmd

Update queue to be a priority queue with priorities between 1 and 5
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  pixl_core/src/core/patient_queue/_base.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/patient_queue/subscriber.py
Due: coe, cli

Update tests to specify message priority
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  cli/tests/test_populate.py
  pixl_core/tests/patient_queue/test_producer.py
  pixl_core/tests/patient_queue/test_subscriber.py
Due: coe, cli

Update cli README with info about high priority messages
  cli/README.md
Due: cli

adds missing doctring to test_anonymise_and_validate_dicom; and correct docstring in vanilla_dicom_image_MR and vanilla_single_dicom_image_DX
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

removes Attribute words from tags in config files
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-external-user.yaml
Due: none

removes delete tag operations in projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

Use a priority queue (#499)
  cli/README.md
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  cli/tests/test_populate.py
  pixl_core/src/core/patient_queue/_base.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_core/tests/patient_queue/test_producer.py
  pixl_core/tests/patient_queue/test_subscriber.py
Due: coe, cli

Check the study UID in Orthanc Raw is the same as in VNA / PACS [force-system-test] (#495)
  .github/workflows/main.yml
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Try updating the tests
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Adds stefpiatek`s suggestion for projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/base.yaml
Due: none

Keep gating for routing to anon
  .env.sample
  docker-compose.yml
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/tests/docker-compose.yml
  test/.env
Due: pixl_imaging

Reduce logging level for finding instances
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Turns out PACS doesn't have image availability tag
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

remove tags with delete operation in all of the config project files
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

adds stefpiatek`s suggestion on UID tag name in tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

418 - Ensuring our anonymization process is compliant with DICOM standards (#493)
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: coe, pixl_dcmd

adds missed rebased lines from the merge of main/418 to this one
  projects/configs/tag-operations/mri.yaml
Due: none

Hardcode some message timeout changes
  orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Restart orthanc on failure
  docker-compose.yml
Due: none

Show study UID for debugging
  pixl_core/src/core/patient_queue/message.py
Due: coe

Don't query by UID if its not set
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Update logging and error messages
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

adds comments for groups in base,yml and remove missed merged delete tags
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/mri.yaml
Due: none

Update processing tests
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add DICOM titles to imaging-api
  docker-compose.yml
Due: none

Remove instance availability fully
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Use PIXL dicom timeout when getting answers
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
