Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Remove private function from module export
  pixl_dcmd/src/pixl_dcmd/__init__.py
Due: pixl_dcmd

Address PR comments
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Remove unused ORTHANC_VNA_AE_TITLE env var in imaging conftest
  pixl_imaging/tests/conftest.py
Due: pixl_imaging

rename VNAQR_ env variables to PRIMARY_DICOM_
  .env.sample
  docker-compose.yml
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  test/.env
  test/docker-compose.yml
Due: pixl_imaging

Allow dicom anonymisation from external users (#485)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/README.md
  pixl_dcmd/pyproject.toml
  pixl_dcmd/ruff.toml
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/src/pixl_dcmd/tagrecording.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/test-external-user.yaml
Due: coe, pixl_dcmd

Add configuration for secondary dicom server
  .env.sample
  docker-compose.yml
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add 'MR' modality to test XNAT project config
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
Due: none

Add XNAT as an endpoint (#483)
  README.md
  docs/setup/developer.md
  hasher/pyproject.toml
  pixl_core/README.md
  pixl_core/pyproject.toml
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/conftest.py
  pixl_core/tests/data/dicom_series.zip
  pixl_core/tests/data/xnat_project.xml
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_xnat.py
  pixl_export/src/pixl_export/main.py
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
Due: coe

Add tests for querying with pacs
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

restart anon on failure
  docker-compose.yml
Due: none

increase timeouts for dicom transfer
  orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/orthanc.json
Due: none

fix restart
  docker-compose.yml
Due: none

Rename _find_study_in_vna_or_raise to _find_study_in_archives_or_raise
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Update docs on imaging API
  pixl_imaging/README.md
Due: pixl_imaging

Add secondary dicom env vars to test sample
  test/.env
Due: none

Add '--dbname ' to healthcheck in docker-compose for postgres container
  docker-compose.yml
Due: none

Add fixture to cleanup pixl database after running system tests
  test/conftest.py
Due: none

Log which zip file and procedure are being tested
  test/system_test.py
Due: none

Add pytest-check as a test dependency for pixl core
  pixl_core/pyproject.toml
Due: coe

Use pytest-check to ensure we always test both zip files in test_ftps_dicom_upload
  test/system_test.py
Due: none

Remove duplicated dependencies
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Make it easier to debug flaky system tests (#491)
  docker-compose.yml
  pixl_core/pyproject.toml
  test/conftest.py
  test/system_test.py
Due: coe

Set correct core rc version in dependencies
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: cli, pixl_dcmd, pixl_imaging

Add list of steps needed to get test for participant_id working
  cli/tests/test_messages_from_files.py
Due: cli

add yes flag to conda create
  docs/setup/developer.md
Due: none

adds test_with_no_participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_with_no_participant_id.csv
Due: none

adds to Image class
  cli/src/pixl_cli/_database.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/db/models.py
Due: coe, cli

sets `SKIP_ALEMBIC=false` in test/.env and testing autogenerate-migration.sh which adds pixl_imaging/alembic/versions/d947cc715eb1_description_of_changes_to_models.py
  pixl_imaging/alembic/versions/d947cc715eb1_description_of_changes_to_models.py
  test/.env
Due: pixl_imaging

adds participant_id to MAP_CSV_TO_MESSAGE_KEYS and fix value for images_in_db[1].pseudo_patient_id; pass 23 local cli/tests
  cli/src/pixl_cli/_io.py
  cli/tests/test_messages_from_files.py
Due: cli

adds pseudo_patient_id to Message and make test_messages_from_csv_with_participant_id happy
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

minor changes renaming description d947cc715eb1_add_pseudo_patient_id_column_to_image_table.py
  pixl_imaging/alembic/versions/d947cc715eb1_add_pseudo_patient_id_column_to_image_table.py
Due: pixl_imaging

get_pseudo_patient_id_and_update_db just returns existing_image.pseudo_patient_id; changes from pre-commit
  cli/tests/test_messages_from_files.py
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: cli, pixl_dcmd

Move participant_id.csv into omop-resources folder
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
Due: cli

Update pytest-pixl/src/pytest_pixl/data/omop-resources/test_with_no_participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_with_no_participant_id.csv
Due: none

Use empty database when testing participant_id in input csv file
  cli/tests/test_messages_from_files.py
Due: cli

still testing
  cli/src/pixl_cli/_message_processing.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

Add test for anonymising dicom when pseudo_patient_id is defined in Image table
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

remove comments from test_messages_from_csv_with_participant_id
  cli/tests/test_messages_from_files.py
Due: cli

adds fixes in favour of passing pseudo_patient_id tests, including `test_no_pseudo_patient_id`
  cli/src/pixl_cli/_io.py
  cli/tests/test_io.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_database.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_with_no_participant_id.csv
Due: cli, pixl_dcmd

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
