Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Default to waiting PIXL_DICOM_TRANSFER_TIMEOUT seconds before cli retires to send messages
  cli/src/pixl_cli/_message_processing.py
Due: cli

Remove Timeout from json in calls to orthanc api as it leads to silent failures
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: coe, pixl_imaging

adds some ~20% of the tags from `dicom.dcmread(DICOM/csi_slaser_40_20_MR/1.dcm` which might be or not included (also needs to be formated). Do we need to include all tags with a config format?
  projects/configs/tag-operations/mr-spectroscopy.yaml
Due: none

Handle incomplete transfer to anon (#512)
  .env.sample
  cli/src/pixl_cli/_message_processing.py
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
  test/conftest.py
  test/system_test.py
Due: coe, cli, pixl_dcmd, pixl_imaging

remove ms-pinpoint from base tag operations for mr-spectroscopy
  projects/configs/mr-spectroscopy.yaml
Due: none

Keep all tags unique to mr spectroscopy
  projects/configs/tag-operations/mr-spectroscopy.yaml
Due: none

Add manufacturer overrides for mr-spectroscopy
  projects/configs/tag-operations/manufacturer-overrides/mr-spectroscopy.yaml
Due: none

Rename mr-spectroscopy project to test-mr-spectroscopy project
  projects/configs/test-mr-spectroscopy.yaml
Due: none

Use latest version of dicom-validator
  pixl_dcmd/pyproject.toml
Due: pixl_dcmd

remove manufacturer overrides for mr-spectroscopy
  projects/configs/tag-operations/manufacturer-overrides/mr-spectroscopy.yaml
  projects/configs/test-mr-spectroscopy.yaml
Due: none

Add initial de-identification profile for rt data
  projects/configs/tag-operations/rt-dose.yaml
  projects/configs/tag-operations/rt-plan.yaml
  projects/configs/tag-operations/rt-struct.yaml
  projects/configs/test-radiotherapy.yaml
Due: none

Orthanc anon plugin logs file is being anonymised and study being exported
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Set log level of IODValidator to ERROR to avoid spamming the console
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Set log_level for IODValidator to logging.ERROR
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

put in the outline for the joss publication
  docs/joss-publication/paper.md
  docs/joss-publication/references.bib
Due: none

bib file should also be called paper
  docs/joss-publication/paper.bib
  docs/joss-publication/references.bib
Due: none

Only notify export API if AUTOROUTE_ANON_TO_ENDPOINT is true
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Only export to endpoint if AUTOROUTE_ANON_TO_ENDPOINT is `true` (#520)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Don't delete resources for studies in orthanc raw if they share a studyUID
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Retrieve all resources from orthanc raw for a given studyUID in the orthanc anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Pull the study directly from raw rather than retrieving to anon first
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Catch and log all exceptions raised by _anonymise_study_instances
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add back in the call to raise_for_status after uploading instances to orthanc anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Send orthanc anon list of resources to pull from orthanc raw
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add missing tags to keep for RTSTRUCT modality
  projects/configs/tag-operations/rt-struct.yaml
Due: none

Add note that studies sharing mrn and accession numbers are combined in Orthanc Anon
  pixl_imaging/README.md
Due: pixl_imaging

Remove unnecessary try catch around upload_instances in anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Don't wait for studies to stabilise in orthanc anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

remove redundant tags from rt-plan config
  projects/configs/tag-operations/rt-plan.yaml
Due: none

remove unnecessary tags from rt-dose config
  projects/configs/tag-operations/rt-dose.yaml
Due: none

Add default config for CT files
  projects/configs/tag-operations/ct.yaml
  projects/configs/test-radiotherapy.yaml
Due: none

Add missing tags for rt-dose config
  projects/configs/tag-operations/rt-dose.yaml
Due: none

Add missing tags for rt-plan config
  projects/configs/tag-operations/rt-dose.yaml
  projects/configs/tag-operations/rt-plan.yaml
Due: none

Remove unnecessary debug logging about resources - it's already logged elsewhere
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Use a ThreadPoolExecutor in anon plugin to download and anonymise data in background threads
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add temp logging info before / after downloading / uploading data in the anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add temp logging info to _orthanc when notifying orthnac anon
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Remove superfluous logging statements
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Retrieve all studies returned by querying the archives (#523)
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Ensure we keep linkages between rt images, dose, plan, and struct files by using the same uids after anonymisation
  projects/configs/tag-operations/rt-dose.yaml
  projects/configs/tag-operations/rt-plan.yaml
  projects/configs/tag-operations/rt-struct.yaml
Due: none
