Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Adds postgres-external service with profile external-pixl-db
  docker-compose.yml
Due: none

Invoke external-pixl-db profile in system-test
  test/run-system-test.sh
Due: none

Only allow manufacturer GE MEDICAL SYSTEMS for DESPIAD
  projects/configs/despiad.yaml
Due: none

Keep Number of Time Slices attribute for PET
  projects/configs/tag-operations/pet.yaml
Due: none

Introduces env var CLI_PIXL_DB_PORT
  cli/src/pixl_cli/_config.py
  docker-compose.yml
  test/.env
  test/docker-compose.yml
Due: cli

Updates variable naming
  .env.sample
Due: none

Creates postgres / postgres-exposed services and assigns profiles
  docker-compose.yml
Due: none

Adds service depends_on logic
  docker-compose.yml
Due: none

Adds --profile option to run system tests
  test/run-system-test.sh
Due: none

Update .env.sample
  .env.sample
Due: none

Fixes system test PIXL DB port number
  test/conftest.py
Due: none

Adds default `--profile postgres-exposed` option to pixl dc up
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Adds pixl dc up start-up explanation
  cli/README.md
Due: cli

set 'pydicom.config.convert_wrong_length_to_UN = True' in dcmd
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add series filters to despiad config
  projects/configs/despiad.yaml
Due: none

Add series number and description filers for despiad
  projects/configs/despiad.yaml
Due: none

Use ints for series numbers to exclude
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/tests/test_main.py
  projects/configs/despiad.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  template_config.yaml
Due: coe, pixl_dcmd

Update default config to exclude series with mip in their description
  template_config.yaml
Due: none

linting bugfix: extra whitespace
  .env.sample
Due: none

Updates export-api depends_on interaction with postgres dbs
  docker-compose.yml
Due: none

Amends order of pixl dc up args so docker compose command works
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Resolve linting error
  .env.sample
Due: none

Amends location of "up" in args_list
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Linting fix
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Removes old env vars
  orthanc/orthanc-raw/README.md
Due: none

Update README.md
  cli/README.md
Due: cli

Removes orthanc-anon postgres dependency
  docker-compose.yml
Due: none

Add ^company as an allowed manufacturer when testing anonymisation
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Use integers for series_number in tests
  pixl_core/tests/project_config/test_project_config.py
Due: coe

synchronizing documentation from the-rolling-skeleton repository
  docs/archive/PIXLv1/Considerations.md
  docs/archive/PIXLv1/DICOM_tags.md
  docs/archive/PIXLv1/De-identification.md
  docs/archive/PIXLv1/Design.md
  docs/archive/PIXLv1/Home.md
  docs/archive/PIXLv1/MVP.md
  docs/archive/PIXLv1/PIXL-FlowEHR_Dicom-Solution-Design.md
  docs/archive/PIXLv1/PIXL-FlowEHR_Solution-Design.md
  docs/archive/PIXLv1/Technologies.md
  docs/archive/PIXLv1/diagrams/PIXL-Components.drawio.png
  docs/archive/PIXLv1/diagrams/PIXL-De-identification_Data_Flow.drawio.png
  docs/archive/PIXLv1/diagrams/PIXL-FlowEHR_DICOM_service.drawio
  docs/archive/PIXLv1/diagrams/PIXL-FlowEHR_DICOM_service.drawio.png
  docs/archive/PIXLv1/diagrams/PIXL-System_Context.drawio.png
  docs/archive/PIXLv1/diagrams/PIXL.drawio
  docs/archive/PIXLv1/readme.md
  docs/design/details/100-day-design.md
  docs/design/details/bigger_picture.md
  docs/design/details/system-design.md
  docs/design/images/100-days.drawio
  docs/design/images/100-days.drawio.png
  docs/design/images/pixl-multi-project-config.drawio
  docs/design/images/pixl-multi-project-config.png
  docs/design/images/voxl.drawio
  docs/design/images/voxl.drawio.png
  docs/developer/DICOM-anonymisation-SOP.md
  docs/developer/azure-keyvault.md
  docs/developer/ftp-server.md
  docs/developer/parquet_files.md
  docs/developer/pixl_database.md
  docs/developer/setup/pixl-setup.md
  docs/developer/setup/uclh-infrastructure-setup.md
Due: none

set min_instances_per_series to 2 by default
  README.md
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Set --profile in pixl dc up using env var
  .env.sample
  cli/src/pixl_cli/_docker_commands.py
  test/.env
Due: cli

updating links and including references from the book of flower which is private
  docs/archive/PIXLv1/De-identification.md
  docs/archive/PIXLv1/Home.md
  docs/archive/PIXLv1/MVP.md
  docs/archive/PIXLv1/PIXL-FlowEHR_Solution-Design.md
  docs/archive/PIXLv1/Referenced_notes/UCLH_MSR_Research_Programme_Plan_COPY_12_09_2022.docx
  docs/archive/PIXLv1/Referenced_notes/UCLH_SOP_0006.md
  docs/archive/PIXLv1/Referenced_notes/disclosure-incidents.md
Due: none

Amend env var parsing to use decouple
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Set min_instances_per_series to 1 for testing
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/test-mr-spectroscopy.yaml
  projects/configs/test-radiotherapy.yaml
Due: none

Add configuration for DESPIAD project (#572)
  README.md
  cli/src/pixl_cli/_config.py
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  projects/configs/despiad.yaml
  projects/configs/ms-pinpoint.yaml
  projects/configs/tag-operations/ct.yaml
  projects/configs/tag-operations/despiad.yaml
  projects/configs/tag-operations/pet.yaml
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/test-mr-spectroscopy.yaml
  projects/configs/test-radiotherapy.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  pytest-pixl/src/pytest_pixl/data/dicom-study/study.zip
  template_config.yaml
Due: coe, cli, pixl_dcmd

Enables PIXL DB to operate as a service separate from Orthanc Raw (#593)
  .env.sample
  cli/README.md
  cli/src/pixl_cli/_config.py
  cli/src/pixl_cli/_docker_commands.py
  docker-compose.yml
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/postgres.json
  test/.env
  test/docker-compose.yml
  test/run-system-test.sh
Due: cli

updating links
  docs/design/details/bigger_picture.md
  docs/design/details/system-design.md
  docs/developer/setup/pixl-setup.md
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
