Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Don't query by study uid if its not known
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Set correct dicom modality env vars for system tests
  test/.env
Due: none

Only query secondary dicom modality if SECONDARY_DICOM_AE_TITLE is defined
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

adds pixl_dcmd/tests/test_main.py::test_anonymisation_and_validation #418
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Rename references to old github organisation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/voxl.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/design/bigger_picture.md
  docs/design/diagrams/pixl-multi-project-config.drawio
  docs/file_types/parquet_files.md
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  test/system_test.py
Due: pixl_dcmd

Mock datetime.datetime.now rather than using freeze_gun
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add missing_message fixture for testing imaging api processing
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

remove freezegun as a test dependency for the imaging api
  pixl_imaging/pyproject.toml
Due: pixl_imaging

Add in some prod changes
  docker-compose.yml
  orthanc/orthanc-raw/config/orthanc.json
Due: none

reduce PIXL_DICOM_TRANSFER_TIMEOUT and ORTHANC_RAW_EXTRA_STABLE_SECOND to 1
  test/.env
Due: none

Rename references to old github organisation (#494)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/voxl.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/design/bigger_picture.md
  docs/design/diagrams/pixl-multi-project-config.drawio
  docs/file_types/parquet_files.md
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  test/system_test.py
Due: pixl_dcmd

set PIXL_DICOM_TRANSFER_TIMEOUT and ORTHANC_RAW_EXTRA_STABLE_SECOND to 20
  test/.env
Due: none

adds pixl_dcmd/tests/test_dicom_validator.py::test_validation_after_anonymisation_works #418
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

minor changes
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

We found that `validate_anonymised` missed some tags references in projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml which are added
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

Rename PRIMARY_DICOM_ and SECONDARY_DICOM_ to PRIMARY_DICOM_SOURCE_ and SECONDARY_DICOM_SOURCE_
  .env.sample
  docker-compose.yml
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
  test/docker-compose.yml
Due: pixl_imaging

Define TZ default in compose compose configuration only
  docker-compose.yml
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

renames test_anonymise_and_validate_dicom with explicity arguments in anonymise_and_validate_dicom; use delate tag for Study Date in projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: pixl_dcmd

set default fro PRIMARY_DICOM_SOURCE_ to be PRIMARY_DICOM_SOURCE_
  docker-compose.yml
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
Due: pixl_imaging

Comment out optional env vars in env.sample
  .env.sample
Due: none

Increase PIXL_DICOM_TRANSFER_TIMEOUT and ORTHANC_RAW_EXTRA_STABLE_SECONDS to 30 seconds
  test/.env
  test/conftest.py
  test/system_test.py
Due: none

adds keep tags in test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

Add support for querying PACS (#489)
  .env.sample
  cli/tests/conftest.py
  docker-compose.yml
  docker/export-api/Dockerfile
  docker/hasher-api/Dockerfile
  docker/imaging-api/Dockerfile
  docker/orthanc-anon/Dockerfile
  docker/orthanc-raw/Dockerfile
  docker/postgres/Dockerfile
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  pixl_core/tests/docker-compose.yml
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
  test/conftest.py
  test/docker-compose.yml
  test/system_test.py
Due: coe, cli, pixl_imaging

fixs typo
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add fixtures for the messages used in testing the imaging api
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

adds replace tag for Study Date and modify test_anonymisation to test vanilla_dicom_image.StudyDate
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: pixl_dcmd

adds pytest.mark.parametrize to test all config files, adds vanilla_dicom_image_MR and vanilla_dicom_image_DX adds mising tags in mri.yaml
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/mri.yaml
Due: pixl_dcmd

removes row_for_dx_dicom_testing with if statement in favour of row_for_dicom_testing; adds missing tags for /uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml #418
  pixl_dcmd/tests/conftest.py
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: pixl_dcmd

refactor _process_message to only pull missing instances if a study already exists in orthanc raw
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Only keep the most recent study in orthanc raw
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add test for partial dicom transfer
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

adds row_for_single_dicom_testing and vanilla_single_dicom_image_DX; and removes duplicated tags in test-extract-uclh-omop-cdm.yaml #418
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: pixl_dcmd

fixes typo projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

reorder `mri.yaml` tags based on group and element #418
  projects/configs/tag-operations/mri.yaml
Due: none

reorder tags based on group and element #418
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

reorder tags based on group and element #418
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

importing ids_for_parameterised_test from conftest in `test_main.py`and removes check type instances as all var are paths #418
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Test dicom have correct tags in orthanc raw
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add test to check the study uid in orthanc raw is correct after retrieving a study
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Make the orthanc raw config for testing the imaging api the same as the production config
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
Due: pixl_imaging
