Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

ensure tags are not duplicated across base configs
  pixl_dcmd/tests/test_main.py
  pixl_dcmd/tests/test_tag_schemes.py
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/xray.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  pytest-pixl/src/pytest_pixl/dicom.py
Due: pixl_dcmd

Add missing tags to config files
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/tag-operations/xray.yaml
  pytest-pixl/src/pytest_pixl/dicom.py
Due: none

remove unused fixtures
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

remove unused MODALITY_TAGS dict
  pytest-pixl/src/pytest_pixl/dicom.py
Due: none

update pixl_core test to reflect change in test project config
  pixl_core/tests/project_config/test_project_config.py
Due: coe

Add pyproject.toml
  pyproject.toml
Due: none

UID reported at higher level logging so don't have it in the message
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

remove MR as a supported modality in the test project config
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: none

Remove MR from list of modalities in project config tests in core
  pixl_core/tests/project_config/test_project_config.py
Due: coe

set mri diffusion dataset modality to DX
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

More logging improvements
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_dcmd, pixl_imaging

Unite orthanc Dockerfiles
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  docker/orthanc/Dockerfile
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

remove projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml as it's empty
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: none

remove mention of test-extract-uclh-omop-cdm.yaml tag operation file as it have been removed
  pixl_core/src/core/dicom_tags.py
  pixl_core/tests/project_config/test_project_config.py
Due: coe

Increase timeout for system test
  test/conftest.py
Due: none

Further de-duping of code in Dockerfile to tidy up the merge
  docker-compose.yml
  docker/orthanc/Dockerfile
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Increase timeout for system test
  test/system_test.py
Due: none

Revert "Increase timeout for system test"
  test/system_test.py
Due: none

Revert "Increase timeout for system test"
  test/conftest.py
Due: none

Go back to using seek
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Eugh remove silly debugging lines
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Use thread-local capturing of stdout
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

More sensible reporting of discarded instances
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

move uclh-nasogastric-tube-project-ngt-only-full-dataset tags into xray config
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/tag-operations/xray.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
Due: none

Increase timeout of anon
  docker-compose.yml
Due: none

Ensure we validate against correct `SPOClassUID` in `pixl_dcmd` tests (#581)
  pixl_core/src/core/dicom_tags.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
  pixl_dcmd/tests/test_tag_schemes.py
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/tag-operations/xray.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  pytest-pixl/src/pytest_pixl/dicom.py
Due: coe, pixl_dcmd

remove changes related to grouping resources before notifying export api
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Use redirect_stdout context manager
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

remove duplicated tags
  projects/configs/tag-operations/ct.yaml
Due: none

Cache hashed identifiers
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Improve anon logging and anonymise all matching studies at once (#582)
  .env.sample
  docker-compose.yml
  orthanc/orthanc-anon/README.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  test/.env
Due: coe, pixl_dcmd

Remind developers that being in the virtual env with everything installed is a pre-requisite for running the system test script.
  test/README.md
Due: none

First attempt at defining a UV workspace that brings together all the sub-projects.
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Create a .dockerignore (must be in build context root) and exclude some things.
  .dockerignore
  docker/.dockerignore
Due: none

Put apt install and cleanup in the same RUN command so they have the intended effect
  docker/pixl-python/Dockerfile
Due: none

Install uv and use it to install our python packages
  docker/pixl-python/Dockerfile
Due: none

Make orthanc Dockerfile use uv
  docker/orthanc/Dockerfile
Due: none

Reference script in new layout (which is now closer to original source tree)
  docker/pixl-python/Dockerfile
  pixl_imaging/scripts/migrate_and_run.sh
Due: pixl_imaging

Need to expose the pytest_pixl module
  pytest-pixl/pyproject.toml
Due: none

Update GHA tests to use uv
  .github/workflows/main.yml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
