Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Update cli docs to make it clear multiple projects can be defined in a single csv file
  cli/README.md
Due: cli

Use correct version syntax and pin deps to `rc`
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Use same study date for multiple_projects.csv test file
  cli/README.md
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
Due: cli

Set development version (#476)
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

fix typo in test comment
  cli/tests/test_messages_from_files.py
Due: cli

test_messages_from_csv_multiple_projects
  cli/tests/test_messages_from_files.py
Due: cli

Make linters happy
  cli/tests/test_messages_from_files.py
Due: cli

Add support for multiple projects in CSV file (#477)
  cli/README.md
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/test_database.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
Due: cli

Update retry_until_export_count_is_unchanged to handle multiple projects in CSV files
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
Due: cli

Add test that retry_until_export_count_is_unchanged can handle messages from multiple projects
  cli/tests/conftest.py
  cli/tests/test_message_processing.py
Due: cli

Update `retry_until_export_count_is_unchanged` to handle messages from multiple projects (#479)
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  cli/tests/test_message_processing.py
Due: cli

Add StudyTags dataclass to hold relevant dicom tags for uploading to endpoints
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_export/src/pixl_export/main.py
Due: coe

Add xnat and xnat4tests as dependencies
  pixl_core/pyproject.toml
Due: coe

Add xnat as a destination to project config model
  README.md
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Add XNATUploader
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Add tests for XNATUploader
  pixl_core/tests/conftest.py
  pixl_core/tests/data/dicom_series.zip
  pixl_core/tests/data/xnat_project.xml
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Fix tests for base Uploader
  pixl_core/tests/uploader/test_base.py
Due: coe

Add comment explaining contents of dicom_series.zip
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Add note explaining how to log into the test XNAT instance
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Add test for XNATUploader.upload_parquet_files not implemented
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Add 'xnat' to list of supported destinations for DICOM
  template_config.yaml
Due: none

Add docs on using XNAT as an endpoint
  pixl_core/README.md
Due: coe

Add note that the project name must match the XNAT Project ID
  pixl_core/README.md
Due: coe

Add vars to set the xnat destination and overwrite mode
  pixl_core/src/core/uploader/_xnat.py
Due: coe

Update xnat test server fixutre to delete data if the server is not destroyed after running tests
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Add notes on env vars to set to configure XNAT as an endpoint
  pixl_core/README.md
Due: coe

Add DICOMWeb to list of supported endpoints in top-level readme
  README.md
Due: none

Clarify that clashing sessions are sent to the prearchive when uploading to xnat
  pixl_core/README.md
Due: coe

remove duplicate modality call
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Allow for external users to run anonymisation
  pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Tidy up private functions
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/pyproject.toml
  pixl_dcmd/ruff.toml
  pixl_dcmd/src/pixl_dcmd/__init__.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add test for get_uploader
  pixl_core/tests/uploader/test_base.py
Due: coe

Add coverage configuration to hasher package
  hasher/pyproject.toml
Due: none

Move logging of upload info into upload_dicom_and_update_database
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/src/core/uploader/base.py
Due: coe

Add docs on enabling docker to listen on default socket
  docs/setup/developer.md
Due: none

fix typo in pixl core readme
  docs/setup/developer.md
Due: none

Add test xnat config
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
Due: none

make linter happer
  pixl_dcmd/src/pixl_dcmd/tagrecording.py
Due: pixl_dcmd

Update pixl_dcmd/README.md
  pixl_dcmd/README.md
Due: pixl_dcmd

Stub for external user
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/test-external-user.yaml
Due: coe, pixl_dcmd

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
