Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Install jpeg libraries
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

US DICOM anonymisation (incl. burned-in pixel clean up) (#635)
  pixl_core/pyproject.toml
  pixl_core/src/core/project_config/image_operations.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/pyproject.toml
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
  projects/configs/image-operations/us-deid.recipe
  projects/configs/tag-operations/us.yaml
  projects/configs/ultrasound-learning-for-timely-rapid-assessment-of-cts.yaml
  pyproject.toml
  pytest-pixl/src/pytest_pixl/dicom.py
  uv.lock
Due: coe, pixl_dcmd

Add OTEL_SDK_DISABLED environment variable to disable sending telemetry
  .env.sample
  docker-compose.yml
  test/.env
Due: none

Manually instrument traces in `pixl_cli`, `orthanc_raw`, and `orthanc_anon` (#644)
  .env.sample
  cli/src/pixl_cli/main.py
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/tracing.py
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
  pixl_core/tests/test_tracing.py
  test/.env
Due: coe, cli

Set OTEL_PYTHON_LOG_AUTO_INSTRUMENTATION to false
  docker-compose.yml
Due: none

Remove unused environment variable
  docker-compose.yml
Due: none

Manually instrument traces in `pixl_cli`, `orthanc_raw`, and `orthanc_anon` (#644)
  cli/src/pixl_cli/main.py
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/tracing.py
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
  pixl_core/tests/test_tracing.py
Due: coe, cli

Use OTEL_SDK_DISABLED to check whether telemtry collection should be disabled
  cli/src/pixl_cli/main.py
  docs/setup/developer.md
  pixl_core/src/core/logging.py
  pixl_core/src/core/tracing.py
  test/conftest.py
Due: coe, cli

Reuse existing logging provider if it exists
  pixl_core/src/core/logging.py
Due: coe

Set OTEL_SDK_DISABLED to true for unit tests
  hasher/tests/conftest.py
  pixl_export/tests/conftest.py
  pixl_imaging/tests/conftest.py
Due: pixl_imaging

Disable the otel sdk in the core unit tests too
  pixl_core/tests/conftest.py
Due: coe

Add tests to check provider is reused or created correctly
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
Due: coe

Set OTEL_SDK_DISABLED to true for cli unit tests
  cli/tests/conftest.py
Due: cli

Add a core.telemetry module for configuring otel
  cli/src/pixl_cli/main.py
  hasher/src/hasher/main.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/logging.py
  pixl_core/src/core/telemetry.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, cli, pixl_imaging

Import configure_logging and configure_tracing from the new telemetry module
  pixl_core/tests/test_logging.py
Due: coe

Add missing docstring
  pixl_core/src/core/logging.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, pixl_imaging

Add comments to clarify why we need to reuse an existing otel provider
  pixl_core/src/core/logging.py
  pixl_core/src/core/telemetry.py
Due: coe

Make linters happy
  pixl_core/src/core/logging.py
  pixl_core/src/core/telemetry.py
Due: coe

Add option to disable sending telemetry to an Otel Collector (#647)
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  docs/setup/developer.md
  hasher/src/hasher/main.py
  hasher/tests/conftest.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/logging.py
  pixl_core/src/core/telemetry.py
  pixl_core/src/core/tracing.py
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
  pixl_export/src/pixl_export/main.py
  pixl_export/tests/conftest.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/conftest.py
  test/conftest.py
Due: coe, cli, pixl_imaging

Enable sending metrics to otlp endpoint
  docker-compose.yml
Due: none

Add a core.metrics module to define custom metrics
  pixl_core/src/core/metrics.py
Due: coe

Add a core.telemetry.configure_metrics function
  pixl_core/src/core/telemetry.py
Due: coe

call record_study_exported in the export api after a study is successfully exported
  pixl_export/src/pixl_export/main.py
Due: none

Make linters happy
  pixl_core/src/core/metrics.py
Due: coe

Add pixl_metrics.studies_exported metric, used in the orthanc-plugin
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/metrics.py
  pixl_export/src/pixl_export/main.py
Due: coe

Record the failure message and type separately
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/metrics.py
Due: coe

Add docs on adding new custom metrics
  docs/setup/developer.md
Due: none

Add record_instance_deidentification_failure metric and use it in orthanc-anon
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/metrics.py
Due: coe

Add metrics from rabbitmq
  .env.sample
  docker-compose.yml
  docs/setup/developer.md
  test/docker-compose.yml
  test/prometheus.yaml
Due: none

Add unit tests for custom metrics
  pixl_core/tests/test_metrics.py
Due: coe

Make linters happy
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/metrics.py
  pixl_core/tests/test_metrics.py
Due: coe

Define RABBITMQ_METRICS_PORT for the system tests
  test/.env
Due: none

Make linters happy
  test/prometheus.yaml
Due: none

Export metrics to OTel collector and define custom metrics (#649)
  .env.sample
  docker-compose.yml
  docs/setup/developer.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/metrics.py
  pixl_core/src/core/telemetry.py
  pixl_core/tests/test_metrics.py
  pixl_export/src/pixl_export/main.py
  test/.env
  test/docker-compose.yml
  test/prometheus.yaml
Due: coe

Experiment with using a process pool executor for anonymisation
  .env.sample
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/README.md
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/src/pixl_dcmd/anonymise_study.py
  pixl_dcmd/tests/test_main.py
Due: coe, pixl_dcmd

Follow orthanc's documented process forking
  .env.sample
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/README.md
  pixl_dcmd/src/pixl_dcmd/anonymise_study.py
Due: coe, pixl_dcmd

Encapsulate compressed pixel data
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd
