Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Get the anonymised study uid, determine the anonymised resource id, and notify the export api
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Make linters happy
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Don't delete studies from Orthanc Anon if there are multiple
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add env vars missing for imaging api unit tests
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Force the dicom spec to download on orthanc anon on startup
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

rename `_get_existing_study` to `_get_study_resource_id`
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

rename to
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Don't await the call to import-from-raw
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

cast `PIXL_DICOM_TRANSFER_TIMEOUT` to `float` rather than `int`
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Raise in exception in the Orthanc Anon plugin if no study is found locally when searching with study_uid
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Wait for study to stabilise in orthanc anon before downloading / exporting
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Increase PIXL_DICOM_TRANSFER_TIMEOUT=100 for system tests, and log time taken for study to stabilise
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  test/.env
Due: pixl_imaging

Set LOG_LEVEL=DEBUG for system tests
  .github/workflows/main.yml
  test/.env
Due: none

Adds configs files for mr spectroscopy with relevant tags #511
  projects/configs/mr-spectroscopy.yaml
  projects/configs/tag-operations/mr-spectroscopy.yaml
Due: none

updates issue templates format and updates PR template and ways to rebase branch #481
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

updates .pre-commit-config.yaml and adds schemas/github-issue-forms.json to pass pre-commit #481
  .github/ISSUE_TEMPLATE/bug_report.yml
  .pre-commit-config.yaml
  schemas/github-issue-forms.json
Due: none

adds note for links that are not open to the public by esentially requesting access with a new issue #481
  README.md
  docs/design/bigger_picture.md
Due: none

adding explicit details for links #481
  README.md
  docs/design/bigger_picture.md
Due: none

adds two collapsed sections to improve readiblity of main README #481
  README.md
Due: none

Write docker logs for system test in CI on success or failure
  .github/workflows/main.yml
Due: none

Added suggesting from Stef at .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

adds minor changes to templates from Stef`s comments #481
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
Due: none

Adds Stef`s suggestion on expecting none in dicom at projects/configs/mr-spectroscopy.yaml
  projects/configs/mr-spectroscopy.yaml
Due: none

minor changes to include a section in the collapsed section to run pixl in GAE #481
  README.md
Due: none

Increase time we wait for images to be uploaded / exported in system tests
  docker-compose.yml
  pixl_imaging/src/pixl_imaging/_orthanc.py
  test/conftest.py
  test/system_test.py
Due: pixl_imaging

We can only write the docker logs upon failure in ci, otherwise the containers are shutdown
  .github/workflows/main.yml
Due: none

Throw a PixlSkipInstanceError during anonymisation if an instance should be skipped based on project config
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/exceptions.py
  pixl_dcmd/README.md
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: coe, pixl_dcmd, pixl_imaging

Reset start time if pending status
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Download the DICOM spec in Orthanc Anon at build time
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Don't wait for study to stabilise in orthanc-anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Don't wait for study to stabilise in orthanc-raw
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Reset start time if pending status (#515)
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

481 - Improving readability and reproducibility of the repo (#514)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/design/bigger_picture.md
  schemas/github-issue-forms.json
Due: none

Set PYTHONPATH after installing curl in orthanc-anon Dockerfile
  docker/orthanc-anon/Dockerfile
Due: none

Wait for study to stabilise in orthanc anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add missing xnat env vars for export api
  docker-compose.yml
Due: none

adds tags for 0002 and 0008 groups from `DICOM/csi_slaser_40_20_MR/1.dcm`
  projects/configs/tag-operations/mr-spectroscopy.yaml
Due: none

Add clarifying comment for call to import-from-raw
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Use a more descriptive function name for notifying anon to retrieve a study from raw
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Remove unused function wait_for_study_to_stabilise_or_raise from pixl_imaging._processing
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging
