Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Wait for all queues to empty before retrying population (#686)
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_message_processing.py
  cli/tests/test_populate.py
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe, cli

Update documentation
  .env.sample
  README.md
  docs/design/decision-record/0004-multiple-project-configuration.md
  docs/setup/azure-keyvault.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  test/README.md
Due: coe

Remove old reference to exporting patient data directly
  pixl_export/README.md
Due: none

Remove unused azure upload
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Remove defunct code and documentation (#688)
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_export/README.md
Due: none

Revert "Renovate: dependency pyarrow to v23 [SECURITY] (#682)" (#687)
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Use azure suffix instead of env
  docker-compose.yml
  pixl_core/src/core/project_config/secrets.py
Due: coe

Remove system test env
  .env.sample
  test/.env
Due: none

Update system test comment
  test/run-system-test.sh
Due: none

Use Azure keyvault test double instead of a real keyvault (#685)
  .env.sample
  .github/workflows/main.yml
  README.md
  docker-compose.yml
  docs/design/decision-record/0004-multiple-project-configuration.md
  docs/setup/azure-keyvault.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  pixl_core/src/core/project_config/secrets.py
  test/.env
  test/.secrets.env.sample
  test/README.md
  test/docker-compose-test.yml
  test/docker-compose.yml
  test/keyvault/README.md
  test/keyvault/export-secrets.yaml
  test/keyvault/hasher-secrets.yaml
  test/keyvault/import/keyvault.json.hbs
  test/keyvault/set_secrets.py
  test/run-system-test.sh
Due: coe

Update telemetry configuration and documentation for external stack usage (#667)
  docker-compose.yml
  docs/setup/developer.md
  test/README.md
  test/conftest.py
  test/docker-compose.yml
Due: none

Create 0.2.0 release
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Fix typo
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Create 0.2.0 release (#690)
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Create 0.3.0 release candidate
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Create 0.3.0 release candidate (#691)
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Use set env var for timeout of export
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Replace outdated install instructions w/ uv
  CONTRIBUTING.md
  README.md
  cli/README.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pytest-pixl/README.md
  test/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Replace outdated install instructions w/ uv (#694)
  CONTRIBUTING.md
  README.md
  cli/README.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pytest-pixl/README.md
  test/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
