Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Add more build stages to avoid re-downloading spec (which is only needed in orthanc-anon anyway)
  docker/orthanc/Dockerfile
Due: none

Refactor Python and Orthanc Dockerfiles (#583)
  docker-compose.yml
  docker/hasher-api/Dockerfile
  docker/imaging-api/Dockerfile
  docker/orthanc-anon/Dockerfile
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Strip whitespace and remove empty identifiers (#586)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_whitespace_and_na_processing.csv
Due: cli

replace date and times in RT Plans and Structure Sets
  projects/configs/tag-operations/rt-plan.yaml
  projects/configs/tag-operations/rt-struct.yaml
Due: none

Making readmes more consistent
  pixl_dcmd/README.md
  pixl_export/README.md
Due: pixl_dcmd

Add default anonymisation config for radiotherapy data (#521)
  projects/configs/tag-operations/rt-dose.yaml
  projects/configs/tag-operations/rt-plan.yaml
  projects/configs/tag-operations/rt-struct.yaml
  projects/configs/test-radiotherapy.yaml
  pytest-pixl/src/pytest_pixl/dicom.py
Due: none

Keep study date and patient dob for despiad
  projects/configs/tag-operations/despiad.yaml
Due: none

Use docker cache when running uv sync during build (only cache the uv dir)
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
Due: none

Add uv to pre-commit
  .pre-commit-config.yaml
Due: none

always try to create the output folder on the ftps server and catch the exception if it exists
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Update prognosis ai name
  projects/configs/prognosisai.yaml
Due: none

always try to create the output folder on the ftps server and catch the exception if it exists (#590)
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Move dev/test dependencies to dependency group in root level pyproject.toml
  cli/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd

Remove now redundant parameters from uv sync
  .github/workflows/main.yml
Due: none

Add uv instructions to replace pip install calls
  README.md
  cli/README.md
  docs/setup/developer.md
  hasher/README.md
  pixl_core/README.md
  pixl_dcmd/README.md
  pixl_export/README.md
  pixl_imaging/README.md
  pytest-pixl/README.md
Due: coe, cli, pixl_dcmd, pixl_imaging

Remove setuptools dep as it does not in fact seem to be needed
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Revert "Remove setuptools dep as it does not in fact seem to be needed"
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Making readmes consistent
  pixl_imaging/README.md
  pixl_imaging/alembic/README.md
  pixl_imaging/alembic/versions/README.md
  pixl_imaging/scripts/README.md
  pixl_imaging/src/README.md
  pixl_imaging/src/pixl_imaging/README.md
  pixl_imaging/tests/README.md
  pixl_imaging/tests/orthanc_raw_config/README.md
Due: pixl_imaging

Making readmes consistent
  postgres/README.md
Due: none

Changes after reviewing the PET data for DESPIAD
  projects/configs/tag-operations/ct.yaml
  projects/configs/tag-operations/despiad.yaml
  projects/configs/tag-operations/pet.yaml
Due: none

Making readmes consistent
  projects/README.md
  projects/configs/README.md
  projects/configs/tag-operations/README.md
  projects/configs/tag-operations/manufacturer-overrides/README.md
Due: none

Making readmes consistent
  pixl_imaging/README.md
  pytest-pixl/README.md
  pytest-pixl/scripts/README.md
  pytest-pixl/src/README.md
  pytest-pixl/src/pytest_pixl/README.md
  pytest-pixl/src/pytest_pixl/data/README.md
  pytest-pixl/src/pytest_pixl/data/omop-resources/README.md
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/README.md
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/private/README.md
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/public/README.md
  pytest-pixl/src/resources/README.md
  pytest-pixl/src/resources/ssl/README.md
  pytest-pixl/tests/README.md
  pytest-pixl/tests/samples_for_fixture_tests/README.md
  pytest-pixl/tests/samples_for_fixture_tests/test_ftpserver_fixture/README.md
Due: pixl_imaging

Making readmes consistent
  schemas/README.md
  scripts/README.md
  test/README.md
  test/dicomweb_config/README.md
  test/resources/README.md
  test/resources/omop-dicomweb/README.md
  test/resources/omop-dicomweb/private/README.md
  test/resources/omop-dicomweb/public/README.md
  test/resources/omop/README.md
  test/resources/omop/private/README.md
  test/resources/omop/public/README.md
  test/vna_config/README.md
Due: none

Changes after reviewing the PET data for DESPIAD (#592)
  projects/configs/tag-operations/ct.yaml
  projects/configs/tag-operations/despiad.yaml
  projects/configs/tag-operations/pet.yaml
Due: none

Use PixlDiscardError for already exported study
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add Radiopharmaceutical Start DateTime to pet.yaml
  projects/configs/tag-operations/pet.yaml
Due: none

remove blank lines from ct.yaml
  projects/configs/tag-operations/ct.yaml
Due: none

remove tab from config file
  projects/configs/tag-operations/pet.yaml
Due: none

Updates orthanc-raw postgres config
  orthanc/orthanc-raw/config/postgres.json
Due: none

define ORTHANC_RAW_DB_ vars
  .env.sample
  docker-compose.yml
  test/.env
Due: none

pass orthanc-raw-db vars to orthanc-raw
  .env.sample
  docker-compose.yml
Due: none

Fix dicomhelpers
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Make it clear when study already exported (#585)
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

filter series number by manufacturer
  cli/src/pixl_cli/_config.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/src/pixl_dcmd/main.py
  projects/configs/despiad.yaml
Due: coe, cli, pixl_dcmd

Add allowed_manufacturers for all test configs
  pixl_dcmd/tests/test_main.py
  projects/configs/despiad.yaml
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/test-mr-spectroscopy.yaml
  projects/configs/test-radiotherapy.yaml
Due: pixl_dcmd

Separate POSTGRES_PORT into PIXL_DB_ and ORTHANC_RAW_DB_
  .env.sample
  cli/README.md
  cli/src/pixl_cli/_config.py
  docker-compose.yml
  test/.env
Due: cli

Adds PIXL DB service to system-test
  test/.env
  test/docker-compose.yml
Due: none

Unique PIXL_DB and ORTHANC_RAW_DB .env values
  test/.env
Due: none

Creates test_drop_unspecified_modalities function
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd
