Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

sets `SKIP_ALEMBIC=true` for test/.env and changes to setting/testing it up
  pixl_imaging/README.md
  test/.env
Due: pixl_imaging

adds participant_id to cli/src/pixl_cli/_message_processing.py and pixl_core/src/core/patient_queue/message.py
  cli/src/pixl_cli/_message_processing.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

mapping and using pseudo_patient_id in cvs files
  cli/src/pixl_cli/_io.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: cli

Add tests for cli to check participant_id is added to database as pseudo_patient_id
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test_with_no_participant_id.csv
Due: cli

commenting few lines, still testing
  cli/src/pixl_cli/_message_processing.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

removes completed parts and adds mock_publisher to use populate_queue_and_db
  cli/tests/test_messages_from_files.py
Due: cli

adds return UID(existing_image.pseudo_patient_id, validation_mode=pydicom.config.RAISE)
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

changes from pre-commit #467
  pixl_core/tests/conftest.py
Due: coe

Add test for reading csv file with participant_id defined
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/participant_id.csv
Due: cli

Fix typo in test description
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add test for anonymising dicom when pseudo_patient_id is not defined in Image table
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

fix pixl_core/tests/patient_queue/test_message.py, adding pseudo_patient_id #467
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
Due: coe

Update pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
Due: none

refactor files to add pseudo_patient_id
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  pixl_core/src/core/patient_queue/message.py
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_imaging/tests/test_imaging_processing.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: coe, cli, pixl_imaging

set example_messages_df to None for `pseudo_patient_id`
  cli/tests/conftest.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
Due: cli

adds changes to pass test_get_pseudo_patient_id_and_update_db checking get_unexported_image #467
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/conftest.py
  cli/tests/test_messages_from_files.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/tests/test_database.py
  pixl_imaging/tests/test_imaging_processing.py
Due: cli, pixl_dcmd, pixl_imaging

adds get_uniq_pseudo_study_uid_and_update_db and tests with related changes to get_study_info with pseudo_patient_id #467
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
  pixl_dcmd/tests/test_database.py
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_dcmd, pixl_imaging

changes from pre-commit
  cli/src/pixl_cli/_io.py
  cli/tests/conftest.py
  pixl_core/src/core/patient_queue/message.py
Due: coe, cli

changes from pre-commit
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

changes from pre-commit to pixl_imaging/alembic/versions/d947cc715eb1_description_of_changes_to_models.py
  pixl_imaging/alembic/versions/d947cc715eb1_description_of_changes_to_models.py
Due: pixl_imaging

Set correct expected output for test_upload_with_participant_id
  cli/tests/test_messages_from_files.py
Due: cli

Update pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
Due: none

Add separate fixture with row in db for testing anonymisation of image that has pseudo_patient_id set
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Update pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

adds Stef` suggestions on `anonymised_study_info` pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Tidy up dependencies (#492)
  cli/pyproject.toml
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

adds missing varaible change for anonymised_study_info
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Update TEST_STUDY_INFO_WITH_PSEUDO_PATIENT_ID /tests/test_database.py
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

updates varaible TEST_STUDY_INFO_WITH_PSEUDO_PATIENT_ID
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

Update `pseudo_paitent_id` pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Updates docstring in pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

use type for `pseudo_patient_id`: Mapped[Optional[str]]
  pixl_core/src/core/db/models.py
Due: coe

removes TEST_STUDY_INFO_WITH_PSEUDO_UID as seems to dublicate `TEST_STUDY_INFO_WITH_PSEUDO_PATIENT_ID`
  pixl_dcmd/tests/test_database.py
Due: pixl_dcmd

removes else branch
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

467 - Process pseudo patient ID (#484)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_io.py
  cli/tests/conftest.py
  cli/tests/test_io.py
  cli/tests/test_messages_from_files.py
  docs/setup/developer.md
  pixl_core/src/core/db/models.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
  pixl_imaging/README.md
  pixl_imaging/alembic/versions/d947cc715eb1_add_pseudo_patient_id_column_to_image_table.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/batch_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/duplicate_input.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/multiple_projects.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/participant_id.csv
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: coe, cli, pixl_dcmd, pixl_imaging

Rename VNAQR and PACSQR to PRIMARYQR and SECONDARYQR
  .env.sample
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/orthanc_raw_config/dicom.json
  pixl_imaging/tests/test_imaging_processing.py
  test/docker-compose.yml
Due: pixl_imaging

Use freezegun to set date and time for testing imaging api
  pixl_imaging/pyproject.toml
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Set timezone to Europe/London
  cli/tests/conftest.py
  docker-compose.yml
  docker/export-api/Dockerfile
  docker/hasher-api/Dockerfile
  docker/imaging-api/Dockerfile
  docker/orthanc-anon/Dockerfile
  docker/orthanc-raw/Dockerfile
  docker/postgres/Dockerfile
  pixl_core/tests/docker-compose.yml
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
  test/.env
  test/docker-compose.yml
Due: coe, cli, pixl_imaging

Remove unused fixtures from tests and set correct fixture return types
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Fix typo in test description
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
