Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Eugh try increasing timeout
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Use default pw for xnat tests
  pixl_core/pyproject.toml
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_xnat.py
  uv.lock
Due: coe

Upgrade rabbitmq to avoid queue initalisation error on mac
  docker-compose.yml
Due: none

Add SHA for rabbitmq
  docker-compose.yml
Due: none

Check with default pw, then create new user and use that
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_xnat.py
Due: coe

Update minor versions except for dicom-validator (#624)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  cli/pyproject.toml
  cli/tests/test_docker_commands.py
  cli/tests/test_io.py
  docker-compose.yml
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
  hasher/pyproject.toml
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/pyproject.toml
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_xnat.py
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/alembic/env.py
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Minor bump pydicom
  pixl_dcmd/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: pixl_dcmd, pixl_imaging

Revert dicom-validator to 0.7.3
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Update orthanc and python to 3.13
  .github/workflows/main.yml
  .pre-commit-config.yaml
  cli/README.md
  cli/pyproject.toml
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
  docker/postgres/Dockerfile
  docs/setup/developer.md
  hasher/pyproject.toml
  mypy.ini
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Fix docker image
  docker/pixl-python/Dockerfile
Due: none

Dont specify python version for venv
  docker/postgres/Dockerfile
Due: none

Run autoformatter
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_treapi.py
  pytest-pixl/src/pytest_pixl/plugin.py
Due: coe

Fix code comment
  docker/orthanc/Dockerfile
Due: none

Update orthanc and python to 3.13 (#626)
  .github/workflows/main.yml
  cli/README.md
  cli/pyproject.toml
  docker/orthanc/Dockerfile
  docker/postgres/Dockerfile
  docs/setup/developer.md
  hasher/pyproject.toml
  mypy.ini
  pixl_core/pyproject.toml
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_treapi.py
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  pytest-pixl/src/pytest_pixl/plugin.py
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Apply suggestions from code review
  pyproject.toml
Due: none

Update lockfile
  uv.lock
Due: none

Pin Pandas to 2.3.2
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Pin Pandas to 2.3.2 (#632)
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Use new layout of omop datasets
  cli/src/pixl_cli/_io.py
Due: cli

Use common helper function for omop directories
  cli/src/pixl_cli/_io.py
Due: cli

Update documentation
  cli/README.md
  cli/src/pixl_cli/main.py
  pixl_core/README.md
  pixl_core/src/core/exports.py
  pixl_core/src/core/uploader/_ftps.py
Due: coe, cli

Move test files to new directory structure
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/omop/procedure_occurrence/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/omop/procedure_occurrence/part-1.parquet
Due: none

Use omop subdir for non batched
  cli/README.md
  cli/src/pixl_cli/main.py
  cli/tests/test_messages_from_files.py
  pixl_core/README.md
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/tests/uploader/test_ftps.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/public/omop/PROCEDURE_OCCURRENCE.parquet
Due: coe, cli

Hopefully fix failing test
  test/resources/omop/public/omop/PROCEDURE_OCCURRENCE.parquet
Due: none

Update documentation
  pixl_core/src/core/exports.py
Due: coe

Move missing test file
  test/resources/omop-dicomweb/public/omop/PROCEDURE_OCCURRENCE.parquet
Due: none

Update assertion to match new directory
  test/system_test.py
Due: none

Use uv for system test running
  test/run-system-test.sh
Due: none

Store TRE API zip archive in temp directory
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Use new layout of omop datasets (#633)
  cli/README.md
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  cli/tests/test_messages_from_files.py
  pixl_core/README.md
  pixl_core/src/core/exports.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/tests/uploader/test_ftps.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/omop/procedure_occurrence/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/omop/procedure_occurrence/part-1.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop/public/omop/PROCEDURE_OCCURRENCE.parquet
  test/resources/omop-dicomweb/public/omop/PROCEDURE_OCCURRENCE.parquet
  test/resources/omop/public/omop/PROCEDURE_OCCURRENCE.parquet
  test/run-system-test.sh
  test/system_test.py
Due: coe, cli

Creates initial us.yaml
  projects/configs/tag-operations/us.yaml
Due: none

Create us-cts.yaml
  projects/configs/us-cts.yaml
Due: none

Adds deid recipe for cleaning burned-in US pixels
  pixl_dcmd/src/pixl_dcmd/resources/us-deid.recipe
Due: pixl_dcmd

Creates `image-operations` folder and moves US recipe
  projects/configs/image-operations/us-deid.recipe
Due: none

Adds image_operation_files: field
  projects/configs/us-cts.yaml
Due: none

Update us-cts.yaml
  projects/configs/us-cts.yaml
Due: none

Implements US DICOM pixel cleaning functionality
  pixl_core/src/core/project_config/__init__.py
  pixl_core/src/core/project_config/image_operations.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: coe, pixl_dcmd

Adds deid to pixl_dcmd pyproject.toml
  pixl_dcmd/pyproject.toml
Due: pixl_dcmd

Add otel packages and opentelemetry-instrumentation-* libraries as dependencies to pixl_core
  pixl_core/pyproject.toml
Due: coe

Update uv.lock
  uv.lock
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
