Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Clean up anon_queue subscriber
  pixl_core/src/core/anon_queue/subscriber.py
Due: coe

Add RabbitMQ anon_queue in orthanc-anon plugin
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add anonymisation queue to _message_count()
  cli/src/pixl_cli/_message_processing.py
Due: cli

Added tests for anon_queue and modified subscriber to move away from async
  pixl_core/src/core/anon_queue/subscriber.py
  pixl_core/tests/anon_queue/test_message.py
  pixl_core/tests/anon_queue/test_producer.py
  pixl_core/tests/anon_queue/test_subscriber.py
  pixl_core/tests/conftest.py
Due: coe

Remove SERVICE_SETTINGS[rabbitmq] from AnonymisationProducer
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add anonymisation queue to cli tests
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
Due: cli

Remove anonymisation queue being populated from cli
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
Due: cli

Added __init__.py to both queues tests so differentiate same names
  pixl_core/tests/anon_queue/__init__.py
  pixl_core/tests/patient_queue/__init__.py
Due: coe

Renamed anon_queue test queues to fix name conflict
  pixl_core/tests/anon_queue/test_producer.py
  pixl_core/tests/anon_queue/test_subscriber.py
Due: coe

Add test to increase coverage including anonymisation in queue_names
  cli/tests/test_message_processing.py
Due: cli

Add test to cover new orthanc queue connection
  cli/tests/test_message_processing.py
Due: cli

Get dicom metadata from the MainDicomTags rather than the shared-tags endpoint
  pixl_core/src/core/uploader/_orthanc.py
Due: coe

Fix `export-api` failed queries to Orthanc Anon (#664)
  pixl_core/src/core/uploader/_orthanc.py
Due: coe

Use trace for stdout redirect
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Update success to after upload
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add keyvault for test double
  test/docker-compose.yml
  test/keyvault/import/keyvault.json.hbs
  test/keyvault/secrets.yaml
  test/keyvault/set_secrets.py
Due: none

Paremeterised Azure keyvault URI
  docker-compose.yml
  test/docker-compose.yml
Due: none

Catch RuntimeErrors raised by dicom-validator
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add tests for DICOM instances that cause dicom-validator to raise RuntimeErrors during validation
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Make linters happy
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Use element name rather than hex code for clarity
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Make linters happy
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Deidentify problematic dicom (#666)
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Update uv.lock
  uv.lock
Due: none

Update dicom-validator to 0.83
  docker/orthanc/Dockerfile
  pixl_dcmd/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: pixl_dcmd, pixl_imaging

Use EditionReader.get_edition_path and EditionReader.dicom_info_for_edition
  orthanc/orthanc-anon/plugin/download_dicom_spec.py
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Update telemetry configuration and documentation for external stack usage
  docker-compose.yml
  docs/setup/developer.md
  test/README.md
  test/conftest.py
  test/docker-compose.yml
Due: none

Add 'otel-agent' to no-proxy list
  docker-compose.yml
Due: none

Upgrade bullseye (which is now out of LTS) to trixie
  docker/pixl-python/Dockerfile
Due: none

Upgrade bullseye (which is now out of LTS) to trixie (#669)
  docker/pixl-python/Dockerfile
Due: none

Combine 2 queues into core.queue
  pixl_core/src/core/anon_queue/__init__.py
  pixl_core/src/core/anon_queue/_base.py
  pixl_core/src/core/anon_queue/subscriber.py
  pixl_core/src/core/patient_queue/message.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/queue/__init__.py
  pixl_core/src/core/queue/_base.py
  pixl_core/src/core/queue/message.py
  pixl_core/src/core/queue/producer.py
  pixl_core/src/core/queue/subscriber.py
  pixl_core/tests/conftest.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_core/tests/patient_queue/test_producer.py
  pixl_core/tests/patient_queue/test_subscriber.py
Due: coe

Update imports to match new core.queue
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  cli/tests/test_message_processing.py
  cli/tests/test_messages_from_files.py
  cli/tests/test_populate.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/src/pixl_imaging/main.py
  pixl_imaging/tests/test_imaging_processing.py
Due: cli, pixl_imaging

Remove ImportStudiesFromRaw and API call
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/queue/__init__.py
Due: coe

Create models.py for ImagingRequest message and AnonymisationMessage
  pixl_core/src/core/queue/message.py
  pixl_core/src/core/queue/models.py
  pixl_core/src/core/queue/producer.py
  pixl_core/src/core/queue/subscriber.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: coe, pixl_imaging

Add parent_context back to process_anon_message
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Combine 2 queues testing into 1 test suite
  pixl_core/tests/anon_queue/test_producer.py
  pixl_core/tests/anon_queue/test_subscriber.py
  pixl_core/tests/patient_queue/__init__.py
  pixl_core/tests/patient_queue/test_message.py
  pixl_core/tests/queue/__init__.py
  pixl_core/tests/queue/test_message.py
  pixl_core/tests/queue/test_producer.py
  pixl_core/tests/queue/test_subscriber.py
Due: coe

Update test fixtures to work with pydicom 3
  pixl_dcmd/tests/test_tagrecording.py
  pytest-pixl/src/pytest_pixl/dicom.py
  test/conftest.py
Due: pixl_dcmd

Update dicom-validator to 0.9.0 and update uv.lock
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Update pixl_dcmd.dicom_helpers for dicom-validator 0.9.0
  pixl_dcmd/src/pixl_dcmd/dicom_helpers.py
Due: pixl_dcmd

Split dicom_validator.validate_anonymised into two functions
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd
