Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Make pytest-cov a test dependency
  pixl_core/pyproject.toml
Due: coe

Fix module docstring
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Add clarifying comment
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Use lowercase for local variable
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Fix outdated comment
  test/system_test.py
Due: none

Docker compose 'version is obsolete'
  docker-compose.yml
  test/docker-compose.yml
Due: none

Formatting: 4-space indents
  docker-compose.yml
Due: none

Use content type json for stow request
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Update comment about the `orthanc_dicomweb_url`
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Fix typos
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/tests/docker-compose.yml
  test/docker-compose.yml
Due: coe

Add `raise_for_status()` calls in tests
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Another `raise_for_status()`
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Query for study ID directly
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Set http timeout as class field for `DicomWebUploader`
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Hardcode DICOMweb config values in tests instead of using envvars
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Set `http_timeout` for mock Dicomweb uploader
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Validate DICOMweb server before attempting upload
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Update docs/file_types/parquet_files.md
  docs/file_types/parquet_files.md
Due: none

Update comment
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Remove confusing comment
  cli/src/pixl_cli/main.py
Due: cli

Reinstate comment
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add another `response.raise_status()`
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Refactor: move checks for already exported images to base uploader
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/base.py
Due: coe

Add test for DICOMweb uploader to check failure if image already exported
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Implement checking for image already uploaded in dicomweb uploader
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Format GHA workflow
  .github/workflows/main.yml
Due: none

DRY CI
  .github/workflows/main.yml
Due: none

Coverage uploading needs to wait until tests have completed
  .github/workflows/main.yml
Due: none

Run tests from within the `tests/` dir because `pixl_imaging` requires it
  .github/workflows/main.yml
Due: none

Update test instructions for `pixl_imaging`
  pixl_imaging/README.md
Due: pixl_imaging

Fix typo
  codecov.yml
Due: none

Upload coverage reports individually
  .github/workflows/main.yml
Due: none

Fix relative paths
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Formatting
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Revert "Run tests from within the `tests/` dir because `pixl_imaging` requires it"
  .github/workflows/main.yml
Due: none

Fix directory where `codecov` should look for reports
  .github/workflows/main.yml
Due: none

Upload all reports at once
  .github/workflows/main.yml
Due: none

Set coverage target to 80%
  codecov.yml
Due: none

Revert "Upload all reports at once"
  .github/workflows/main.yml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
