Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Add OTEL_* env vars to docker compose. We need to pass these to all services that will send telemetry to otel
  docker-compose.yml
Due: none

Add OTEL_EXPORTER_OTLP_ENDPOINT to .env.sample
  .env.sample
Due: none

also export metrics
  docker-compose.yml
Due: none

Add docs section on observability / otel
  docs/setup/developer.md
Due: none

Add pixl_core.logging module with configure_logging function
  cli/src/pixl_cli/main.py
  hasher/src/hasher/main.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/logging.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, cli, pixl_imaging

Send the loguru logs directly to an OTel provider rather than to the standard library
  docker-compose.yml
  pixl_core/pyproject.toml
  pixl_core/src/core/logging.py
  uv.lock
Due: coe

Use opentelemetry-instrument as the entrypoint for pixl imaging, hasher, and export
  docker/pixl-python/Dockerfile
  pixl_imaging/scripts/migrate_and_run.sh
Due: pixl_imaging

Add unit tests for the otel sink
  pixl_core/tests/test_logging.py
Due: coe

Bind study_uid and project name where appropriate
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Add tracing for orthanc anon and orthanc raw
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

call RequestsInstrumentor().instrument() when configuring tracing in orthanc anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

propagate the trace id from imaging api -> orthanc anon -> export api
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/tracing.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: coe, pixl_imaging

Ensure we call SQLAlchemyInstrumentor to instrument calls to pixl db in orthanc anon / pixl dcmd
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

instrument pika in cli so we can trace sending messages to the queue
  cli/src/pixl_cli/main.py
Due: cli

spin up openobserve container for the integration tests
  docker-compose.yml
  test/.env
  test/conftest.py
  test/docker-compose.yml
Due: none

Get the global traces in producer.py
  pixl_core/src/core/patient_queue/producer.py
  test/.env
  test/conftest.py
Due: coe

Add opentelemetry-exporter as a dependenct
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Add a configure_logging function to set up otel sink
  pixl_core/src/core/logging.py
Due: coe

Use configure_logging in all pixl packages
  cli/src/pixl_cli/main.py
  hasher/src/hasher/main.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
Due: cli, pixl_imaging

Set otel env vars in docker-compose
  .env.sample
  docker-compose.yml
Due: none

Add tests for the otel sink
  pixl_core/tests/test_logging.py
Due: coe

fix check_env cli unit tests
  test/.env
Due: none

Add section on otel to developer docs
  docs/setup/developer.md
Due: none

Add test to check the otel sink is created by configure_logging
  pixl_core/tests/test_logging.py
  test/.env
Due: coe

Use the docker-otel-lgtm image in system tests
  test/.env
  test/conftest.py
  test/docker-compose.yml
Due: none

Set OTEL_RESOURCE_ATTRIBUTES to include service_namespace=pixl
  .env.sample
  docker-compose.yml
  test/.env
  test/conftest.py
Due: none

Set service.namespace=pixl in docker-compose so docker-compose doesn't override the value
  .env.sample
  docker-compose.yml
  test/.env
Due: none

Set OTEL_EXPORTER_OTLP_ENDPOINT for pixl_core tests
  .env.sample
  pixl_core/tests/conftest.py
Due: coe

explicitly create exporter and processor in configure_logging
  pixl_core/src/core/logging.py
Due: coe

Allows recipes within image_operation_files to be None
  pixl_core/src/core/project_config/image_operations.py
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Adds US to MODALITY_TO_CLASS_UID
  pytest-pixl/src/pytest_pixl/dicom.py
Due: none

Updates python packages
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  uv.lock
Due: coe, pixl_dcmd

Update pixl_core/tests/test_logging.py
  pixl_core/tests/test_logging.py
Due: coe

Simplify setting default log level
  cli/src/pixl_cli/main.py
  hasher/src/hasher/main.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/logging.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
Due: coe, cli, pixl_imaging

fix typo: _bad_funcion -> _bad_function
  pixl_core/tests/test_logging.py
Due: coe

Send serialised logs to an OTel collector (#640)
  .env.sample
  cli/src/pixl_cli/main.py
  docker-compose.yml
  docs/setup/developer.md
  hasher/src/hasher/main.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/pyproject.toml
  pixl_core/src/core/logging.py
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/main.py
  test/.env
  uv.lock
Due: coe, cli, pixl_imaging

Make bound fields top-level attributes so they can be directly queried when filtering
  pixl_core/src/core/logging.py
Due: coe

Bind message info to log when publishing message to the queue
  pixl_core/src/core/patient_queue/producer.py
Due: coe

Contextualise logs with study and archive info when processing messages
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Contextualise logs with study and resource info when de-identifying studies
  orthanc/orthanc-anon/plugin/pixl.py
Due: none
