Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Retry processing of messages until no change between runs (#407)
  .env.sample
  cli/pyproject.toml
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
  cli/src/pixl_cli/main.py
  cli/tests/test_database.py
  cli/tests/test_populate.py
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
  test/.env
Due: coe, cli, pixl_dcmd, pixl_imaging

Delete unmodified project name at stable instead of on error
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Use correct delete rest API call
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

Fix logging call
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

Log image identifier information when multiple studies
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Tmp changes
  orthanc/orthanc-anon/config/orthanc.json
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Use message identified :facepalm:
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Update README
  README.md
Due: none

Fix typo
  README.md
Due: none

Update README (#413)
  README.md
Due: none

Don't cancel job on failure
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Implement dicom tag validation
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Validate Dicom after anonymisation and before export
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Let validation return `True` if successful
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Include Dicom validation in unit tests
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Remove obsolete script
  pixl_dcmd/bin/run-tests.sh
Due: pixl_dcmd

Add `dicom-validator` as dependency
  pixl_dcmd/pyproject.toml
Due: pixl_dcmd

Typo
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add some more logging
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Use better name for validating DICOMs
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add `DicomValidator` class to handle validation
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Use `DicomValidator` class for validation
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Record `anon_errors` and `diff_errors` in `DicomValidator` class
  pixl_dcmd/src/pixl_dcmd/_dicom_helpers.py
Due: pixl_dcmd

Move `vanilla_dicom_image` fixture to `conftest`
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Move validation tests to separate file
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Wrap anonymisation and validation in one helper function
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Return `validation_errors` after anonymising and validating
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add test for `anonymise_and_validate_dicom()`
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Add `pytest-loguru` as a dependency
  pytest-pixl/pyproject.toml
Due: none

Make anon logging more useful
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Delete study if failed on modify
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Update comments
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Test validation of a DICOM image that is non-compliant to start with
  pixl_dcmd/tests/test_dicom_validator.py
Due: pixl_dcmd

Add `row_for_dicom_testing` as dependency for `vanilla_dicom_image` fixture
  pixl_dcmd/tests/conftest.py
  pixl_dcmd/tests/test_dicom_validator.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Prod changes
  cli/src/pixl_cli/_database.py
  docker-compose.yml
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-raw/config/orthanc.json
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: cli, pixl_imaging

Lower modify logging
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Set orthanc-anon max concurrent jobs
  .env.sample
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-anon/config/orthanc.json
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Actually sleep for the required number of seconds on retries
  cli/src/pixl_cli/_message_processing.py
Due: cli

Increase timeout, keeps on failing in CI
  pixl_imaging/tests/conftest.py
Due: pixl_imaging

Add transfer timeout to pixl imaging docker compose file
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
