Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

removing tags from mri that are already part of base.yml would break get_private_tag; (see CI when removing Private Creator Data Elemen); do we want to do that?
  projects/configs/tag-operations/mri.yaml
Due: none

brings back Private Creator Data Element to mri to avoid breaking get_private_tag
  projects/configs/tag-operations/mri.yaml
Due: none

remove tags from mri: SAR and Acquisition Device Processing Description
  projects/configs/tag-operations/mri.yaml
Due: none

moves `Pixel Spacing Calibration Type` from base to xray
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/xray.yaml
Due: none

adds base.yml to project files but ./test-extract-uclh-omop-cdm.yaml failed with #- `base.yaml` with 2 tests failed
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/uclh-prostate-mri-validation-dataset.yaml
Due: none

removes tags of Patients Name and Patients Sex from mri.yaml which are alredy in base.yml
  projects/configs/tag-operations/mri.yaml
Due: none

makes linter happy
  pixl_dcmd/tests/test_main.py
  pixl_dcmd/tests/test_tag_schemes.py
Due: pixl_dcmd

put back projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml in test-extract-uclh-omop-cdm.yaml but still figuring out why test_merge_base_only_tags is breaking
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
Due: none

adds tags tag-operations/test-extract-uclh-omop-cdm.yaml to /tag-operations/base.yaml
  projects/configs/tag-operations/base.yaml
Due: none

removing links from base.yml in favour of a cleaner config
  projects/configs/tag-operations/base.yaml
Due: none

asserts keys in test_merge_base_only_tags to hopefully hit target 86.08% in codecov
  pixl_dcmd/tests/test_tag_schemes.py
Due: pixl_dcmd

adds comments to show what tool.coverage.report is doing in pytest-pixl/pyproject.toml
  pytest-pixl/pyproject.toml
Due: none

adds manual pytest-cov engine in README and also cov-append in pytest.ini
  pytest-pixl/README.md
  pytest.ini
Due: none

adds test_create_default_json_file to see if covers lines for _create_default_json in dicom.py
  pytest-pixl/tests/test_ftpserver_fixture.py
Due: none

adds test_ftp_host_address to covers FtpHostAddress in plugin.py
  pytest-pixl/tests/test_ftpserver_fixture.py
Due: none

Adds stefpiatek`s suggestion for x-ray config file
  projects/configs/tag-operations/xray.yaml
Due: none

adds comments to document requirements for base config file and image modalities
  projects/configs/ms-pinpoint.yaml
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/diffusion-weighted-mri.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/ms-pinpoint.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/tag-operations/xray.yaml
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/uclh-prostate-mri-validation-dataset.yaml
Due: none

Add setup for prostate
  docker-compose.yml
  projects/configs/uclh-prostate-mri-external-dataset.yaml
Due: none

adds fstring to pass path and passed pre-commit flags
  pytest-pixl/tests/test_ftpserver_fixture.py
Due: none

Add private creators for siemens
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
Due: none

udaptes cov argments for pytest `--cov=src --conv-appned` to have a look to ci output
  .github/workflows/main.yml
Due: none

adds --cov-report=xml to ci pytest
  .github/workflows/main.yml
Due: none

adds --cov-report=term-missing to ci pytest and README
  .github/workflows/main.yml
  pytest-pixl/README.md
Due: none

adds COV_CORE_SOURCE, COV_CORE_CONFIG, COV_CORE_DATAFILE to ci
  .github/workflows/main.yml
Due: none

482 - Added configurations for default de-identification of IoN-DRI MRI projects (#498)
  pixl_dcmd/tests/test_tag_schemes.py
  projects/configs/ms-pinpoint.yaml
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/diffusion-weighted-mri.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/ms-pinpoint.yaml
  projects/configs/tag-operations/test-external-user.yaml
  projects/configs/tag-operations/test-extract-uclh-omop-cdm.yaml
  projects/configs/tag-operations/xray.yaml
  projects/configs/test-external-user.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm-xnat.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
  projects/configs/uclh-nasogastric-tube-project-ngt-only-full-dataset.yaml
  projects/configs/uclh-prostate-mri-validation-dataset.yaml
Due: pixl_dcmd

388 - Adding coverage to pytest-pixl (#501)
  .github/workflows/main.yml
  pytest-pixl/README.md
  pytest-pixl/pyproject.toml
  pytest-pixl/tests/test_ftpserver_fixture.py
  pytest.ini
Due: none

Add Orthanc.http_timeout and Orthanc.dicom_timeout attributes
  .env.sample
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Set 'Synchronour' to False for send_study_to_anon
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Set http_timeout and dicom_timeout arguments for WriteableOrtahnc in testing
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add PIXL_QUERY_TIMEOUT env var to imaging tests
  pixl_imaging/tests/conftest.py
Due: pixl_imaging

Use correct timeouts in calls to orthanc api
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Don't delete a study if modifying the tag fails
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Add OnChange callback to pixl raw plugin to send to anon
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Use 5 threads for modifying resources in orthanc raw
  orthanc/orthanc-raw/config/orthanc.json
  pixl_imaging/tests/orthanc_raw_config/orthanc.json
Due: pixl_imaging

Add debug statements when deleteing and querying local data in orthanc
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Only use study_uid to query local resources if study_uid is not an empty string
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Explicitly trigger c-store from raw to anon, and do so asynchronously
  docker-compose.yml
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Move check of ORTHANC_AUTOROUTE_RAW_TO_ANON from orthanc raw plugin to imaging api
  docker-compose.yml
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/conftest.py
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Increase PIXL_DICOM_TRANSFER_TIMEOUT to 60 seconds for system tests
  test/.env
Due: none

Always restart the orthanc-raw container
  docker-compose.yml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
