Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

split build and up
  test/run-system-test.sh
Due: none

Create user home dir in the GHA script to avoid error from failed creation later on
  .github/workflows/main.yml
Due: none

test pseudo_study_uids valid
  cli/tests/test_io.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_ftps.py
Due: coe, cli

Why is pytest not found? Some kind of env change caused by sudo?
  .github/workflows/main.yml
Due: none

Preserve path when running sudo
  .github/workflows/main.yml
Due: none

dcmc/_database PR comments
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Run tests as normal runner user
  .github/workflows/main.yml
Due: none

use SQL exist for pseudo_study_uid uniqueness check
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

rename sequenced_dicom fixture
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

remove unused monkeypatch
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

import fix
  pixl_dcmd/src/pixl_dcmd/_database.py
Due: pixl_dcmd

Update pixl_export/src/pixl_export/main.py
  pixl_export/src/pixl_export/main.py
Due: none

Update pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/_orthanc.py
Due: coe

Don't see why this needs to have docker group
  .github/workflows/main.yml
Due: none

fix: migration alters instead of dropping
  pixl_imaging/alembic/versions/cb5ee12a6e20_replace_hashed_id_with_pseudo_study_uid.py
Due: pixl_imaging

Debugging for perm failure on file deletes
  test/conftest.py
Due: none

Fix scope error
  test/conftest.py
Due: none

OK maybe this was needed after all
  .github/workflows/main.yml
Due: none

fix[core]: hashed_id->pseudo_study
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Since CLI creates everything in exports dir these days, it makes more sense to delete stuff afterwards from the host side rather than the container side.
  test/conftest.py
  test/run-system-test.sh
Due: none

Try not creating home dir for pixl - what is even using this?
  .github/workflows/main.yml
Due: none

and therefore I can't do this any more
  .github/workflows/main.yml
Due: none

Remove debugging
  .github/workflows/main.yml
  test/conftest.py
  test/run-system-test.sh
Due: none

Document the reason for the permissions setup better. Don't need to export variables any more.
  .github/workflows/main.yml
Due: none

If Export API is believed to only read from the export dir, then let's enforce this to avoid any weird surprises.
  .github/workflows/main.yml
  docker-compose.yml
Due: none

First attempt at documentation on docker permissions.
  README.md
  docs/design/docker_perms.md
Due: none

better sys test as per pr comment
  test/system_test.py
Due: none

CLI user needs to be able to write to export dir.
  .github/workflows/main.yml
Due: none

fix tests
  cli/tests/test_io.py
  pixl_core/tests/uploader/test_ftps.py
Due: coe, cli

Clarify docs
  .github/workflows/main.yml
  docs/design/docker_perms.md
Due: none

Go with the assumption that the host machine will have a "pixl" user and group which we run our containers as, and human users will be added to the pixl group.
  .github/workflows/main.yml
Due: none

oops left in empty arg
  .github/workflows/main.yml
Due: none

Set the setgid bit so that subdirs/files in exports will be owned by the pixl group
  .github/workflows/main.yml
Due: none

debugging
  pixl_core/src/core/exports.py
Due: coe

fix debugging
  README.md
  docs/design/docker_perms.md
  docs/setup/docker_perms.md
  pixl_core/src/core/exports.py
Due: coe

doesn't exist?
  pixl_core/src/core/exports.py
Due: coe

Make debugging more useful and permanent. More docs
  .github/workflows/main.yml
  docs/setup/docker_perms.md
  docs/setup/uclh-infrastructure-setup.md
  pixl_core/src/core/exports.py
Due: coe

more debugging
  .github/workflows/main.yml
Due: none

Set the FACL
  .github/workflows/main.yml
  docs/setup/uclh-infrastructure-setup.md
Due: none

usermod doesn't change groups of existing shells. Need to run the system test in a new shell.
  .github/workflows/main.yml
Due: none
