Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Invoking a new shell with "bash" doesn't re-read groups, but using sudo does.
  .github/workflows/main.yml
Due: none

Need to preserve envs
  .github/workflows/main.yml
Due: none

more debugging
  .github/workflows/main.yml
  test/run-system-test.sh
Due: none

Unlikely to work because su will prompt
  .github/workflows/main.yml
Due: none

Will just passing PATH be enough?
  .github/workflows/main.yml
Due: none

Pass through all env as well as PATH
  .github/workflows/main.yml
Due: none

Remove debugging
  .github/workflows/main.yml
  test/run-system-test.sh
Due: none

feat: replace hashed_id with pseudo study uid (#389)
  cli/src/pixl_cli/_io.py
  cli/tests/test_io.py
  docs/file_types/parquet_files.md
  docs/services/pixl_database.md
  pixl_core/src/core/db/models.py
  pixl_core/src/core/db/queries.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/alembic/versions/cb5ee12a6e20_replace_hashed_id_with_pseudo_study_uid.py
  test/system_test.py
  test/utils.py
Due: coe, cli, pixl_dcmd, pixl_imaging

feat[cli]: only export linker information for processed images
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/main.py
Due: cli

bump aiohttp version
  pixl_imaging/pyproject.toml
Due: pixl_imaging

bump aiohttp version, fix dependabot alerts (#404)
  pixl_imaging/pyproject.toml
Due: pixl_imaging

Unite orthanc Dockerfiles
  docker-compose.yml
  docker/orthanc-anon/Dockerfile
  docker/orthanc/Dockerfile
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Add orthanc containers to test
  test/test_docker_containers.py
Due: none

Make orthanc run as orthanc user instead of root
  docker/orthanc/Dockerfile
  docs/setup/docker_perms.md
Due: none

Can also use non-root for fakes in system test
  test/docker-compose.yml
Due: none

Non-root orthanc works for core and imaging tests too
  pixl_core/tests/docker-compose.yml
  pixl_imaging/tests/docker-compose.yml
Due: coe, pixl_imaging

Add fakes to system test container user check
  test/test_docker_containers.py
Due: none

Remove debugging
  docker/orthanc/Dockerfile
Due: none

Use same orthanc version everywhere
  docker/orthanc/Dockerfile
  pixl_imaging/tests/docker-compose.yml
  test/docker-compose.yml
Due: pixl_imaging

Use existing YAML anchors
  docker-compose.yml
Due: none

Don't think this is needed since we moved this code to the export-api
  docker-compose.yml
Due: none

Add basic monthly renovate check job (#391)
  .github/workflows/main.yml
  .renovaterc.json5
Due: none

uncommitted work
  cli/src/pixl_cli/main.py
Due: cli

test[cli]: processed images for project
  cli/src/pixl_cli/_database.py
  cli/tests/test_database.py
Due: cli

Add in extra private tags for philips
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
Due: none

Wait for studies being exported, not just received
  ruff.toml
  test/conftest.py
  test/utils.py
Due: none

Pass linting
  pixl_export/tests/conftest.py
Due: none

Pass linting
  cli/tests/conftest.py
  hasher/tests/conftest.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe, cli

Increase waiting time, as we now have to wait for an export
  test/conftest.py
Due: none

feat[cli]: only export linker information for processed images (#403)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/main.py
  cli/tests/conftest.py
  cli/tests/test_database.py
  hasher/tests/conftest.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_export/tests/conftest.py
  ruff.toml
  test/conftest.py
  test/utils.py
Due: coe, cli

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
