Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Add badges
  README.md
Due: none

Move Orthanc helpers to `core.uploader`
  pixl_core/src/core/uploader/_orthanc.py
  pixl_export/src/pixl_export/main.py
Due: coe

Make `Uploader.upload_dicom_image` methods work with Orthanc study ID as only input arg
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/base.py
  pixl_export/src/pixl_export/main.py
Due: coe

Move FTPS-specific fixtures to its own test file
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Fix orthanc-anon related envvar references
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

`ORTHANC_URL` -> `ORTHANC_ANON_URL`, which is more accurate
  docker-compose.yml
  pixl_core/README.md
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Fix `TEST_DIR` path
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Fix return type for fixture
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Refactor `FTPSUploader.upload_dicom_image()`; extract FTPS specific functionality for testing
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Partially revert my overly aggressive cleaning
  .github/workflows/main.yml
Due: none

Fix return types for fixtures
  pixl_core/tests/conftest.py
Due: coe

Rename fixture so it doesn't get detected as a test
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Move 'already exported' check to `send_via_ftps()`
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Refactor: let `get_uploader()` work with just the project slug
  pixl_core/src/core/exports.py
  pixl_core/src/core/uploader/__init__.py
  pixl_export/src/pixl_export/main.py
Due: coe

Add missing envvars for tests
  cli/tests/conftest.py
Due: cli

Fix import
  pixl_export/src/pixl_export/main.py
Due: none

Fix docker compose, messed up during merge
  docker-compose.yml
Due: none

Implement `DicomWebUploader.upload_dicom_image()`
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Set `ORTHANC_ANON_*` envvars in the `orthanc-anon` container
  docker-compose.yml
Due: none

Avoid loading envvars when they're not needed
  pixl_core/src/core/uploader/_orthanc.py
Due: coe

And another missing envvar
  docker-compose.yml
Due: none

Why did I even do this
  pixl_core/src/core/uploader/_orthanc.py
Due: coe

Update pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Fix the DICOMweb uploader and its tests
  cli/tests/conftest.py
  docker-compose.yml
  pixl_core/README.md
  pixl_core/src/core/exports.py
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_orthanc.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/conftest.py
  pixl_core/tests/docker-compose.dicomweb.yml
  pixl_core/tests/docker-compose.yml
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_export/src/pixl_export/main.py
  test/docker-compose.yml
  test/system_test.py
Due: coe, cli

Update pixl_imaging/README.md
  pixl_imaging/README.md
Due: pixl_imaging

Add failing test to check branch protection
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Remove unused test code
  pixl_export/README.md
  pixl_export/tests/test_export_processing.py
Due: none

Revert "Add failing test to check branch protection"
  pixl_imaging/tests/test_imaging_processing.py
Due: pixl_imaging

Add coverage exclusions
  pixl_core/pyproject.toml
Due: coe

Run coverage for system tests too
  .github/workflows/main.yml
  test/README.md
  test/run-system-test.sh
Due: none

Remove caching of anon
  .github/workflows/main.yml
Due: none

Remove reference to EHR API
  .github/workflows/main.yml
  README.md
  cli/README.md
  cli/src/pixl_cli/main.py
  codecov.yml
  hasher/src/hasher/__init__.py
  pixl_core/README.md
  pixl_core/src/core/__init__.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_export/README.md
  pixl_export/src/pixl_export/main.py
Due: coe, cli

Fix pytest command flags
  test/run-system-test.sh
Due: none

Update export readmes
  README.md
  pixl_export/README.md
Due: none

Allow acquisition date for ms-pinpoint
  projects/configs/tag-operations/ms-pintpoint.yaml
Due: none

Remove export api rate
  .env.sample
  cli/README.md
  cli/src/pixl_cli/_config.py
  cli/tests/conftest.py
  test/.env
Due: cli

Fix name
  projects/configs/tag-operations/ms-pinpoint.yaml
Due: none

Try and fix coverage setting again
  test/run-system-test.sh
Due: none

Revert "Try and fix coverage setting again"
  test/run-system-test.sh
Due: none

Update system test dependencies
  .github/workflows/main.yml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
