Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Contextualise logs with project and pseudonymised info in the uploders
  pixl_core/src/core/uploader/base.py
Due: coe

Contextualise logs with project and resource info in the export api
  pixl_export/src/pixl_export/main.py
Due: none

Add test to check loguru extra fields are set as top-level attributes in the otel logs
  pixl_core/tests/test_logging.py
Due: coe

Add opentelemetry-instrumentation-* libraries as dependencies
  pixl_core/pyproject.toml
Due: coe

Update uv.lock
  uv.lock
Due: none

enable auto-instrumentation of traces in pixl_imaging, hasher_api, and export_api
  docker/pixl-python/Dockerfile
  pixl_imaging/scripts/migrate_and_run.sh
Due: pixl_imaging

Enable exporting traces to the OTel collector
  docker-compose.yml
Due: none

Bind pseudo_study_uid to logs as soon as it exists
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Rename orthanc_study_id -> orthanc_resource_id
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_export/src/pixl_export/main.py
Due: none

Add section to docs on how to add context to logs
  docs/setup/developer.md
Due: none

fix typos in docs
  docs/setup/developer.md
Due: none

Remove unnecessary ** from docs on logging
  docs/setup/developer.md
Due: none

Store TRE API zip archive in temp directory (#634)
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Add docker-otel-lgtm container for the integration tests
  test/.env
  test/conftest.py
  test/docker-compose.yml
Due: none

Make loguru's `'extra'` fields top-level attributes in OTel logs (#641)
  docs/setup/developer.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/logging.py
  pixl_core/src/core/patient_queue/producer.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/test_logging.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: coe, pixl_imaging

Add note to integration test docs on how to access the gragana UI
  test/README.md
Due: none

Auto-instrument traces for OTel (#643)
  docker-compose.yml
  docker/pixl-python/Dockerfile
  pixl_core/pyproject.toml
  pixl_imaging/scripts/migrate_and_run.sh
  test/.env
  test/README.md
  test/conftest.py
  test/docker-compose.yml
  uv.lock
Due: coe, pixl_imaging

Add a configure_tracing function to set up a trace provider
  pixl_core/src/core/tracing.py
Due: coe

Remove unused OTEL_EXPORTER_OTLP_HEADERS env var
  docker-compose.yml
Due: none

Add a instrument_pika_producer to producer.py to instrument and enrich the producer
  pixl_core/src/core/patient_queue/producer.py
Due: coe

Instrument the cli
  cli/src/pixl_cli/main.py
Due: cli

Instrument orthanc raw
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

Instrument orthanc anon
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Use logging fixtures from the conftest
  pixl_core/tests/conftest.py
  pixl_core/tests/test_logging.py
Due: coe

Add tests for configure_tracing
  pixl_core/tests/test_tracing.py
Due: coe

Manually create a span before publishing the message
  cli/src/pixl_cli/main.py
  pixl_core/src/core/patient_queue/producer.py
Due: coe, cli

Remove test of configure_tracing as we're no longer returning a bool
  pixl_core/tests/test_tracing.py
Due: coe

Makes _load_recipe() static method of ImageOperations class
  pixl_core/src/core/project_config/image_operations.py
Due: coe

Updates ultrasound_project_config fixture name
  pixl_dcmd/tests/conftest.py
Due: pixl_dcmd

Sets destinations as ftps
  projects/configs/us-cts.yaml
Due: none

Renames US projects file
  pixl_dcmd/tests/conftest.py
  projects/configs/ultrasound-learning-for-timely-rapid-assessment-of-cts.yaml
Due: pixl_dcmd

Enables pixel cleaning within PIXL workflow
  pixl_core/src/core/project_config/image_operations.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  pytest-pixl/src/pytest_pixl/dicom.py
Due: coe, pixl_dcmd

Amend ImageOperations class to not be pydantic model
  pixl_core/src/core/project_config/image_operations.py
Due: coe

Fixes Path type checking
  pixl_core/src/core/project_config/image_operations.py
Due: coe

Package dependency changes
  pyproject.toml
  uv.lock
Due: none

Enable housekeeping plugin
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Increase /dev/shm for postgres
  docker-compose.yml
Due: none

Update comment
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Optimise orthanc's use of postgres database (#645)
  docker-compose.yml
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Pin versions to compile on gae
  uv.lock
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
