Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Update system test dependencies
  .github/workflows/main.yml
Due: none

Add test coverage tracking (#382)
  .github/workflows/main.yml
  README.md
  cli/README.md
  cli/src/pixl_cli/main.py
  codecov.yml
  hasher/src/hasher/__init__.py
  pixl_core/README.md
  pixl_core/pyproject.toml
  pixl_core/src/core/__init__.py
  pixl_core/src/core/patient_queue/subscriber.py
  pixl_export/README.md
  pixl_export/src/pixl_export/main.py
  pixl_export/tests/test_export_processing.py
  pixl_imaging/README.md
  pixl_imaging/tests/docker-compose.yml
  test/README.md
  test/run-system-test.sh
Due: coe, cli, pixl_imaging

Have top level try and accept in case we can't process the bytes for some reason
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Use template pattern
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/base.py
  pixl_export/src/pixl_export/main.py
Due: coe

Add export api to no proxy list
  docker-compose.yml
Due: none

Add orthanc-anon to no proxy list
  docker-compose.yml
Due: none

WIP feat: replace hashed_id with pseudo_study_uid
  cli/src/pixl_cli/_io.py
  cli/tests/test_io.py
  docs/file_types/parquet_files.md
  docs/services/pixl_database.md
  pixl_core/src/core/db/models.py
  pixl_core/src/core/db/queries.py
  pixl_core/tests/conftest.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  pixl_export/src/pixl_export/_orthanc.py
  pixl_export/src/pixl_export/main.py
  pixl_imaging/alembic/versions/cb5ee12a6e20_replace_hashed_id_with_pseudo_study_uid.py
  test/system_test.py
Due: coe, cli, pixl_dcmd, pixl_imaging

Add healthchecks to orthanc servers in imaging test
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Ditto in the tests. No need to expose these externally.
  pixl_core/tests/docker-compose.yml
  pixl_export/tests/docker-compose.yml
  pixl_imaging/tests/docker-compose.yml
  test/docker-compose.yml
Due: coe, pixl_imaging

Listen only on localhost for services that the CLI needs to talk to but where no external access (eg from the DSD) is required.
  docker-compose.yml
Due: none

Move testing of upload into test base file
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Extra commit to run system test
  pixl_core/src/core/uploader/base.py
Due: coe

Combine send via stow and upload dicom
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Combine send via stow and upload dicom
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

Be more explicit in base tests
  pixl_core/tests/uploader/test_base.py
Due: coe

Add healthchecks to orthanc servers in imaging test (#386)
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Update docker-compose.yml
  docker-compose.yml
Due: none

Postgres needs external access
  docker-compose.yml
Due: none

Don't expose ports on all interfaces unless needed (#387)
  docker-compose.yml
  pixl_core/tests/docker-compose.yml
  pixl_export/tests/docker-compose.yml
  pixl_imaging/tests/docker-compose.yml
  test/docker-compose.yml
Due: coe, pixl_imaging

some system test fixes, more to come
  test/system_test.py
Due: none

Add basic monthly renovate check job
  .github/workflows/main.yml
  .renovaterc.json5
Due: none

fix merge induced issues
  pixl_core/tests/uploader/test_dicomweb.py
Due: coe

fix system test, check db for existing pseudo id
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
  test/utils.py
Due: pixl_dcmd

fix dcmd test
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Update orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Process MRIs on GAE (#378)
  .env.sample
  cli/src/pixl_cli/_config.py
  cli/tests/conftest.py
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/base.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_core/tests/uploader/test_base.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_dcmd/src/pixl_dcmd/_tag_schemes.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_main.py
  pixl_export/src/pixl_export/main.py
  projects/configs/ms-pinpoint-internal-only.yaml
  projects/configs/tag-operations/diffusion-weighted-mri.yaml
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
  projects/configs/tag-operations/mri.yaml
  projects/configs/tag-operations/ms-pinpoint.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/uclh-prostate-mri-validation-dataset.yaml
  test/.env
Due: coe, cli, pixl_dcmd

Make packages easier to read
  docker/hasher-api/Dockerfile
Due: none

Remove unneeded packages
  docker/hasher-api/Dockerfile
Due: none

Merge three pixl python docker images into one multi-stage dockerfile to avoid repetition.
  docker-compose.yml
  docker/export-api/Dockerfile
  docker/hasher-api/Dockerfile
  docker/pixl-python/Dockerfile
Due: none

Specify healthcheck command in only one place
  docker-compose.yml
  docker/pixl-python/Dockerfile
Due: none

De-dupe the pre-reqs installation code using a build arg
  docker-compose.yml
  docker/pixl-python/Dockerfile
Due: none

De-dupe the actual install as well
  docker/pixl-python/Dockerfile
Due: none

Add (failing) test for the condition we are aiming for: containers to run as non-root users.
  test/test_docker_containers.py
Due: none

Run as user pixl, which we have to create inside the image with a fixed user ID.
  .env.sample
  docker-compose.yml
  docker/pixl-python/Dockerfile
  test/.env
Due: none

The system test already builds the required docker images, and passes the correct env files in. No need to do it here as well, and it was failing due to lack of build args.
  .github/workflows/main.yml
Due: none

Semi-WIP: Create pixl user+group on the GHA test runner so that we can set file permissions correctly for the export directory, which is needed so that it can be deleted from inside the container.
  .github/workflows/main.yml
Due: none

Fix variable usage and exports dir location
  .github/workflows/main.yml
Due: none

More debugging
  .github/workflows/main.yml
Due: none

debug
  test/run-system-test.sh
Due: none
