Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

codecov.yml:

#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
component_management:
    individual_components:
        - component_id: pixl_core
          name: coe
          paths:
              - pixl_core/
        - component_id: cli
          name: cli
          paths:
              - cli/
        - component_id: pixl_dcmd
          name: pixl_dcmd
          paths:
              - pixl_dcmd/
        - component_id: pixl_ehr
          name: pixl_ehr
          paths:
              - pixl_ehr/
        - component_id: pixl_imaging
          name: pixl_imaging
          paths:
              - pixl_imaging/

Added ENV to .env.sample. #613
  .env.sample
Due: none

Allow series UID to be optional
  cli/src/pixl_cli/_io.py
Due: cli

Add HIC HH config (#612)
  cli/src/pixl_cli/_io.py
  pixl_imaging/src/pixl_imaging/_processing.py
  projects/configs/uclh-hic-hearing-health.yaml
Due: cli, pixl_imaging

Update cli/src/pixl_cli/main.py
  cli/src/pixl_cli/main.py
Due: cli

Remote flush in image upload
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Update dicom validator
  pixl_dcmd/pyproject.toml
  uv.lock
Due: pixl_dcmd

Pin dicom validator raw install
  docker/orthanc/Dockerfile
Due: none

Use 202 as acceptance from API
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Add TRE to destinations
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Add ng tube for education project config
  projects/configs/uclh-nasogastric-tube-project-for-education.yaml
Due: none

Dont flush after each image upload
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Should have read what I was adding
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Remove extra status checks
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Update secret name for api
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Use http timeout for file uploading on TRE
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Pin dicom validator in docker
  docker/orthanc/Dockerfile
Due: none

Pin dicom validator in docker (#619)
  docker/orthanc/Dockerfile
Due: none

Update docs
  cli/src/pixl_cli/main.py
Due: cli

Make missing input tests more explicit
  cli/tests/test_messages_from_files.py
Due: cli

Use dev as default environment
  .env.sample
Due: none

Read in parquet OMOP datasets (#616)
  cli/README.md
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/extract_summary.json
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/person_links/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/person_links/part-1.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/procedure_occurrence_links/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/procedure_occurrence_links/part-1.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/procedure_occurrence/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/procedure_occurrence/part-1.parquet
Due: cli

Move TRE config to be in line with other uploaders
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Use correct destination filename
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Log successful parquet upload
  pixl_core/src/core/exports.py
Due: coe

Fix test
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Add TRE API uploader (#608)
  cli/tests/test_populate.py
  pixl_core/src/core/exports.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_core/tests/uploader/test_dicomweb.py
  pixl_core/tests/uploader/test_ftps.py
  pixl_core/tests/uploader/test_treapi.py
  pixl_dcmd/pyproject.toml
  projects/configs/uclh-nasogastric-tube-project-for-education.yaml
  ruff.toml
  uv.lock
Due: coe, cli, pixl_dcmd

Add extra NG tube for education configs
  projects/configs/uclh-nasogastric-tube-project-for-education-1b.yaml
  projects/configs/uclh-nasogastric-tube-project-for-education-2a.yaml
  projects/configs/uclh-nasogastric-tube-project-for-education-2b.yaml
Due: none

Sanity check
  .env.sample
Due: none

Quote token so whitespace is obvious
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Add ngtube education project configs (#620)
  pixl_core/src/core/uploader/_treapi.py
  projects/configs/uclh-nasogastric-tube-project-for-education-1b.yaml
  projects/configs/uclh-nasogastric-tube-project-for-education-2a.yaml
  projects/configs/uclh-nasogastric-tube-project-for-education-2b.yaml
Due: coe

Added ENV to .env.sample (#614)
  .env.sample
Due: none

Don't change dicom validator version
  pixl_dcmd/pyproject.toml
Due: pixl_dcmd

Update minor versions except for dicom-validator
  .github/workflows/main.yml
  .pre-commit-config.yaml
  cli/pyproject.toml
  docker/orthanc/Dockerfile
  docker/pixl-python/Dockerfile
  hasher/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pyproject.toml
  pytest-pixl/pyproject.toml
  uv.lock
Due: coe, cli, pixl_dcmd, pixl_imaging

Not sure how this passed pre-commit before
  cli/tests/test_io.py
  orthanc/orthanc-anon/plugin/pixl.py
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/_dicomweb.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/src/core/uploader/_xnat.py
  pixl_imaging/alembic/env.py
Due: coe, cli, pixl_imaging

Fix CLI runner usage in test
  cli/tests/test_docker_commands.py
Due: cli

Rollback xnat to 0.6.2
  pixl_core/pyproject.toml
  uv.lock
Due: coe

Explicit wait for xnat in tests
  pixl_core/tests/uploader/test_xnat.py
Due: coe
