Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Tmp change to explicit FTPS
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Add FTPES as a destination
  README.md
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_ftps.py
  projects/configs/ultrasound-learning-for-timely-rapid-assessment-of-cts.yaml
Due: coe

Tmp don't change directory
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Log current dir
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Revert "Log current dir"
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Revert "Tmp don't change directory"
  pixl_core/src/core/uploader/_ftps.py
Due: coe

tmp dir contents
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Remove tmp lines
  pixl_core/src/core/uploader/_ftps.py
Due: coe

Keep in requires US tags
  projects/configs/tag-operations/us.yaml
Due: none

Conditionally encapsulate cleaned pixels
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Add readme to project config
  projects/configs/README.md
Due: none

Update readme linkage
  projects/configs/README.md
Due: none

Make config file a link in main readme
  README.md
Due: none

add config for thrombosis AF project
  projects/configs/tag-operations/base.yaml
Due: none

add config files for thrombosis af project
  projects/configs/tag-operations/thrombosis-af.yaml
  projects/configs/uclh-investigating-correlations-of-thrombosis-risk-in-af.yaml
Due: none

updating config file for thormbosis af
  projects/configs/uclh-investigating-correlations-of-thrombosis-risk-in-af.yaml
Due: none

update thrombosis-af config
  projects/configs/uclh-investigating-correlations-of-thrombosis-risk-in-af.yaml
Due: none

Added record_skip_reasons_for_study() called by update_db_with_skip_failure_reason() within pixl_dcmd and orthanc-anon calls that func before raising PIXLDiscardError
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

added a skip_reasons JSONB column to Image database entry
  pixl_core/src/core/db/models.py
Due: coe

Added an Alembic migration in pixl_imaging/alembic/versions/ for the new column
  pixl_imaging/alembic/versions/f1c9a4d3e7b2_add_skip_reasons_column_to_image_table.py
Due: pixl_imaging

Fix US and add FTPES as destination (#657)
  README.md
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_dcmd/src/pixl_dcmd/main.py
  projects/configs/tag-operations/us.yaml
  projects/configs/ultrasound-learning-for-timely-rapid-assessment-of-cts.yaml
Due: coe, pixl_dcmd

Removed manual alembic file and added autogenerated file
  pixl_imaging/alembic/versions/4226124af0db_add_skip_reasons_column_to_image_table.py
Due: pixl_imaging

Add filtering exported or skipped messages in cli and update tests and docs for this
  cli/src/pixl_cli/_database.py
  cli/tests/test_database_cli_interaction.py
  docs/services/pixl_database.md
Due: cli

Try to improve code coverage
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
Due: pixl_dcmd

Address minor PR review comments
  cli/src/pixl_cli/_database.py
  cli/tests/test_database_cli_interaction.py
  orthanc/orthanc-anon/plugin/pixl.py
Due: cli

Propagate export or skip up through func names and docstrings
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
Due: cli

Remove redundant func update_db_with_skip_failure_reason
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Remove unnecessary test and assert positive outcome of 345 in accession_numbers
  cli/tests/test_database_cli_interaction.py
  pixl_dcmd/tests/test_main.py
Due: cli, pixl_dcmd

Update func names in tests
  cli/tests/test_database_cli_interaction.py
Due: cli

Pix 49 log skip error in db (#658)
  cli/src/pixl_cli/_database.py
  cli/src/pixl_cli/_message_processing.py
  cli/tests/test_database_cli_interaction.py
  docs/services/pixl_database.md
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_core/src/core/db/models.py
  pixl_dcmd/src/pixl_dcmd/_database.py
  pixl_dcmd/src/pixl_dcmd/main.py
  pixl_dcmd/tests/test_database.py
  pixl_dcmd/tests/test_main.py
  pixl_imaging/alembic/versions/4226124af0db_add_skip_reasons_column_to_image_table.py
Due: coe, cli, pixl_dcmd, pixl_imaging

Fixes for work in prod
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Reduce debug noise
  orthanc/orthanc-anon/plugin/pixl.py
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Fix logging
  pixl_dcmd/src/pixl_dcmd/main.py
Due: pixl_dcmd

Fixes for work in prod (#662)
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Add anon_queue to pixl_core with different message and no priority
  pixl_core/src/core/anon_queue/__init__.py
  pixl_core/src/core/anon_queue/_base.py
  pixl_core/src/core/anon_queue/message.py
  pixl_core/src/core/anon_queue/producer.py
Due: coe

Remove async functionality from anon_queue subscriber
  pixl_core/src/core/anon_queue/subscriber.py
Due: coe

Replace POST with anon queue in pixl_imaging/_orthanc.py and update naming of queue objects
  pixl_core/src/core/anon_queue/__init__.py
  pixl_core/src/core/anon_queue/message.py
  pixl_core/src/core/anon_queue/producer.py
  pixl_core/src/core/anon_queue/subscriber.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: coe, pixl_imaging

AnonymisationProducer publishes [message] instead of message
  pixl_core/src/core/anon_queue/producer.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: coe, pixl_imaging

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
