Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Try adding orthanc to PIXL group
  docker/orthanc/Dockerfile
Due: none

Change owner of pixl file
  docker/orthanc/Dockerfile
Due: none

Try setting pixl user before copying
  docker/pixl-python/Dockerfile
Due: none

Change owner of python projects on copy
  docker/pixl-python/Dockerfile
Due: none

Run `docker compose` instead of `docker-compose`
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Update manufacturer tag parsing
  pixl_core/src/core/project_config/tag_operations.py
  pixl_core/tests/project_config/test_project_config.py
Due: coe

Update test setup to pass
  pixl_dcmd/tests/test_main.py
  pixl_dcmd/tests/test_tag_schemes.py
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: pixl_dcmd

fix: correctly handle multiple `env_file` options
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Define wait for images to be exported in conftest
  test/conftest.py
  test/utils.py
Due: none

`--wait` implies `--detach`
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Add group ID to test build args
  pixl_imaging/tests/docker-compose.yml
Due: pixl_imaging

Use `ENV` envvar to set docker project name
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Set correct type for `extra_args`
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Warn and ask to confirm if attempting to take down volumes in production
  cli/src/pixl_cli/_docker_commands.py
Due: cli

Add tests for docker cli commands
  cli/tests/test_docker_commands.py
Due: cli

Remove generic MRI philips tags
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
Due: none

Cancel job upon API timeout
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Fix tests
  cli/tests/test_docker_commands.py
Due: cli

Add note about using `pixl up/down` in system test
  test/run-system-test.sh
Due: none

Revert "Use `pixl` docker commands in system test"
  test/run-system-test.sh
Due: none

Use dicom transfer timeout in anon
  docker-compose.yml
  orthanc/orthanc-anon/plugin/pixl.py
Due: none

Use dicom transfer timeout in export api
  docker-compose.yml
  pixl_core/src/core/uploader/_dicomweb.py
Due: coe

Modify private tag in async mode
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Log type of pending job in orthanc
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Override anon instances
  orthanc/orthanc-anon/config/orthanc.json
Due: none

Increase orthanc resource modification threads
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Allow multiple manufacturer overrides(#406)
  pixl_core/src/core/project_config/pixl_config_model.py
  pixl_core/src/core/project_config/tag_operations.py
  pixl_core/tests/project_config/test_project_config.py
  pixl_dcmd/src/pixl_dcmd/_tag_schemes.py
  pixl_dcmd/tests/test_main.py
  pixl_dcmd/tests/test_tag_schemes.py
  projects/configs/ms-pinpoint-internal-only.yaml
  projects/configs/tag-operations/manufacturer-overrides/mri-diffusion.yaml
  projects/configs/tag-operations/manufacturer-overrides/mri.yaml
  projects/configs/test-extract-uclh-omop-cdm-dicomweb.yaml
  projects/configs/test-extract-uclh-omop-cdm.yaml
Due: coe, pixl_dcmd

Use UTC datetimes for CSV input (#412)
  cli/src/pixl_cli/_io.py
  cli/tests/test_messages_from_files.py
  pytest-pixl/src/pytest_pixl/data/omop-resources/test.csv
Due: cli

Don't retry if not starting
  cli/src/pixl_cli/main.py
Due: cli

Simplify docker compose commands to a single wrapper
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/main.py
  cli/tests/test_docker_commands.py
Due: cli

`--env-file` args needs to come before `docker compose` subcommands
  cli/tests/test_docker_commands.py
Due: cli

Update docs
  README.md
  cli/README.md
  test/run-system-test.sh
Due: cli

Move `pixldc` commands into PIXL CLI (#411)
  README.md
  bin/pixldc
  cli/README.md
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/_utils.py
  cli/src/pixl_cli/main.py
  cli/tests/test_docker_commands.py
  docker-compose.yml
  test/run-system-test.sh
Due: cli

Merge branch 'main' into peshence/cli-retry-processing
  README.md
  bin/pixldc
  cli/README.md
  cli/src/pixl_cli/_docker_commands.py
  cli/src/pixl_cli/_utils.py
  cli/tests/test_docker_commands.py
  docker-compose.yml
  test/run-system-test.sh
Due: cli

Ignore namespace import of typechecking for coverage
  cli/pyproject.toml
  pixl_core/pyproject.toml
  pixl_dcmd/pyproject.toml
  pixl_export/pyproject.toml
  pixl_imaging/pyproject.toml
  pytest-pixl/pyproject.toml
Due: coe, cli, pixl_dcmd, pixl_imaging

Reduce retry timeout for system test setup
  .env.sample
  cli/src/pixl_cli/_message_processing.py
  test/.env
Due: cli

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
