Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Fix parquet uploader, pass tests
  pixl_core/src/core/uploader/_sftp.py
  pixl_core/tests/uploader/helpers/sftpserver.py
  pixl_core/tests/uploader/test_sftp.py
Due: coe

Catch correct errors
  pixl_core/src/core/uploader/_sftp.py
Due: coe

Call `generate_uid` only once
  pixl_core/tests/uploader/test_sftp.py
Due: coe

Fix typo
  pixl_core/src/core/uploader/_sftp.py
Due: coe

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Ignore more ruff rules
  ruff.toml
Due: none

Linter fixes
  cli/tests/conftest.py
  pixl_core/src/core/uploader/_ftps.py
  pixl_core/tests/conftest.py
Due: coe, cli

Add TRE API uploader
  pixl_core/src/core/uploader/__init__.py
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Small fixes
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Clean up
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Drive-by: don't call `generate_uid()` twice
  pixl_core/tests/uploader/test_ftps.py
Due: coe

Add tests
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Preserve dir structure when creating zip
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Pass root dir into `_create_zip_archive`
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Don't use full `source_root_dir` path for zip filename
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Ignore ruff `SLF001` for tests
  cli/tests/test_populate.py
  pixl_core/tests/patient_queue/test_subscriber.py
  pixl_core/tests/uploader/test_dicomweb.py
  ruff.toml
Due: coe, cli

Linter fixes
  pixl_core/src/core/uploader/_treapi.py
  pixl_core/tests/uploader/test_treapi.py
Due: coe

Add hic hh config
  projects/configs/uclh-hic-hearing-health.yaml
Due: none

Ensure Nan study uid is replaced with empty string
  cli/src/pixl_cli/_io.py
Due: cli

Update series filters with Junaid's suggestions
  projects/configs/uclh-hic-hearing-health.yaml
Due: none

Increase series numbers to exclude
  projects/configs/uclh-hic-hearing-health.yaml
Due: none

Fix duplicated series filters
  projects/configs/uclh-hic-hearing-health.yaml
Due: none

Update hic hh config
  projects/configs/uclh-hic-hearing-health.yaml
Due: none

Fix filling in blanks for CSV processing
  cli/src/pixl_cli/_io.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: cli, pixl_imaging

Add example batched omop files
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/extract_summary.json
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/person_links/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/person_links/part-1.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/procedure_occurrence_links/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/private/procedure_occurrence_links/part-1.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/procedure_occurrence/part-0.parquet
  pytest-pixl/src/pytest_pixl/data/omop-resources/omop-batched/public/procedure_occurrence/part-1.parquet
Due: none

Allow parsing of parquet dataset
  cli/README.md
  cli/src/pixl_cli/_io.py
  cli/src/pixl_cli/main.py
  cli/tests/test_messages_from_files.py
Due: cli

Add test for directory input not structured as expected
  cli/tests/test_messages_from_files.py
Due: cli

Update documentation
  cli/README.md
  cli/src/pixl_cli/_io.py
Due: cli

Fix docstring
  cli/src/pixl_cli/_io.py
Due: cli

Bump ruff version
  pyproject.toml
  uv.lock
Due: none

Add ng tube for education project config
  projects/configs/uclh-nasogastric-tube-project-for-education.yaml
Due: none

Update secret name for api
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Add TRE to destinations
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Should have read what I was adding
  pixl_core/src/core/project_config/pixl_config_model.py
Due: coe

Use 202 as acceptance from API
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Dont flush after each image upload
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Remove extra status checks
  pixl_core/src/core/uploader/_treapi.py
Due: coe

Bump ruff version (#617)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
