Repository SAFEHR-data/PIXL: changes, and which Codecov flags are due for each by the changed paths.
All: coe, cli, pixl_dcmd, pixl_ehr, pixl_imaging

Remove EMAP
  .env.sample
  cli/README.md
  docker-compose.yml
  pixl_core/README.md
  pixl_export/tests/conftest.py
  test/.env
  test/README.md
Due: coe, cli

Make timeout an int
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Actually remove emap fully
  docker-compose.yml
Due: none

Reduce hardcoded timeouts for dicom
  orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Add config to test out GE MRI scanners
  projects/configs/ge-mri.yaml
Due: none

Remove extra stable seconds for orthanc raw
  .env.sample
  docker-compose.yml
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-raw/README.md
  test/.env
Due: none

Remove extra stable seconds for orthanc raw
  docker/orthanc-raw/Dockerfile
Due: none

removes tags not related to image modalities, extend comments using (#) for better visibility of group categories
  projects/configs/tag-operations/base.yaml
Due: none

adds links for `Storage Media File-set UI` as previously I might have been not doing the right tag search
  projects/configs/tag-operations/base.yaml
Due: none

adds associated image modalities to some of the elements of 0018 group (a bit tedious but getting there, will do more tomorrow)
  projects/configs/tag-operations/base.yaml
Due: none

completes my search for tags of the 0018 group
  projects/configs/tag-operations/base.yaml
Due: none

keeping x-ray, ct, mr, pet, us and rt, and remove reference for other modalities for base.yaml
  projects/configs/tag-operations/base.yaml
Due: none

Query local using UID, falling back to mrn and accession number
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

completes tags for 0020 group adding simple message on associated modalities
  projects/configs/tag-operations/base.yaml
Due: none

adds image modalities for group 0028 and renames `LUTDescriptor` to `Recognizable Visual Features` for 00280302
  projects/configs/tag-operations/base.yaml
Due: none

adds missing message for remained tags
  projects/configs/tag-operations/base.yaml
Due: none

Lower timeouts
  orthanc/orthanc-raw/config/dicom.json
Due: none

Save pixl tag to database for faster querying
  orthanc/orthanc-raw/config/orthanc.json
Due: none

Use query timeout for get requests
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Try C-MOVE for all instance UIDs in single query
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

fix absolute path to pass pytest-pixl and add pytest-pixl to the CI matrix of the package directory #388
  .github/workflows/main.yml
  pytest-pixl/tests/test_ftpserver_fixture.py
Due: none

Fix types for missing instances
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

Fix generator expression
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

moves releavnt tags to mri config file
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/mri.yaml
Due: none

adds xray config from base and updates ms-pinpoint config
  projects/configs/ms-pinpoint.yaml
  projects/configs/tag-operations/base.yaml
Due: none

Specify required UIDs in missing instances query
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
Due: pixl_imaging

adds xray.yaml
  projects/configs/tag-operations/xray.yaml
Due: none

Update pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_orthanc.py
Due: pixl_imaging

Rename send to anon function
  orthanc/orthanc-raw/plugin/pixl.py
Due: none

Update orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/dicom.json
Due: none

Update partial dicom with production changes (#500)
  .env.sample
  cli/README.md
  docker-compose.yml
  docker/orthanc-raw/Dockerfile
  orthanc/orthanc-raw/README.md
  orthanc/orthanc-raw/config/dicom.json
  orthanc/orthanc-raw/config/orthanc.json
  orthanc/orthanc-raw/plugin/pixl.py
  pixl_core/README.md
  pixl_core/src/core/patient_queue/message.py
  pixl_export/tests/conftest.py
  pixl_imaging/README.md
  pixl_imaging/src/pixl_imaging/_orthanc.py
  pixl_imaging/src/pixl_imaging/_processing.py
  pixl_imaging/tests/docker-compose.yml
  pixl_imaging/tests/test_imaging_processing.py
  test/.env
  test/README.md
Due: coe, cli, pixl_imaging

removes xray from projects/configs/ms-pinpoint.yaml
  projects/configs/ms-pinpoint.yaml
Due: none

removes tags from base that belongs to mri and moves some from base to xray
  projects/configs/tag-operations/base.yaml
  projects/configs/tag-operations/xray.yaml
Due: none

fix element 0x9225 for Real World Value Slope in base and adds notes to Real World Value Intercept
  projects/configs/tag-operations/base.yaml
Due: none

fix element 0x9224 for Real World Value Intercept
  projects/configs/tag-operations/base.yaml
Due: none

start removing identified tags in mri.yml that already exist in base.yml
  projects/configs/tag-operations/mri.yaml
Due: none

Path conditions:
  coe: any of: pixl_core/
  cli: any of: cli/
  pixl_dcmd: any of: pixl_dcmd/
  pixl_ehr: any of: pixl_ehr/
  pixl_imaging: any of: pixl_imaging/
